/*  Variables */
$primary-color1:#380D36;
$primary-color2:#D01F3B;
$secondary-color:#A3E2E9;
$white-color:#ffffff;
$black-color:#111111;
$text-color:#797979;
$border-color:#dddddd;

$font-family1:'Archivo', sans-serif;
$font-family2:'gibson', sans-serif;

$font-22:22px;
$font-20:20px;
$font-18:18px;
$font-16:16px;
$font-14:14px;

$transition:all 0.5s;

@font-face {
    font-family: 'gibson', sans-serif;
    src: url('/fonts/gibson/Gibson-Regular.ttf');
    src: url('/fonts/gibson/gibson-bold.ttf');
}


body{
	font-family: $font-family2;
	font-size: $font-20;
	line-height: 30px;
	color: $text-color;
	width:100%;
	padding: 0 !important;
	background: $white-color;
    transition: $transition;
}
a {
	color:$text-color;
	font-family: $font-family2;
	text-decoration: none;
    outline: none;
}
a:hover, a:focus {
	color: $primary-color2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family1;
	line-height: 1.1;
	font-weight:700;
	color: $black-color;
	margin:0;
	padding:0;
}
h1{
    font-size: 110px;
}
h2{
    font-size: 40px;
}
h3{
    font-size:36px;
}
h4{
    font-size: 30px;
}
p{
	margin: 0;
    padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.comm-btn{
    display: flex;
    min-width: 190px;
    min-height: 50px;
    background-color: $white-color;
    color: $primary-color1;
    font-size: $font-18;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-transform: uppercase;
    font-family: $font-family2;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	&::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(1,1,1,0.1);
		left: -89%;
		bottom: -55%;
		border-radius: 50px;
		transition: all 0.5s ease-in-out;
	}
	span{
		position: relative;
	}
	&:hover{
		&::before{
			left: 0;
			bottom: 0;
			border-radius: 0;
		}
	}
}

.comm-heading{
	position: relative;
	text-align: center;
	width: fit-content;
	margin: 0 auto;
	&:before, &:after{
		content:'';
		background-image: url('../images/head-left.png');
		width: 100%;
		height: 100%;
		left: -45px;
		top: 0;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left;
		position: absolute;
	}
	&:after{
		background-image: url('../images/head-right.png');
		right: -45px;
		left: auto;
		background-position: right;
	}
	h2{	
		color: $primary-color1;
		position: relative;
		padding: 0 20px;
		width: fit-content;
		margin: 0 auto;
	}
}


/*------ responsive ----*/

@mixin for-1730 {
	@media (max-width: 1730px) {
		@content;
	}
}

@mixin for-1700 {
	@media (max-width: 1700px) {
		@content;
	}
}
@mixin for-1440 {
	@media (max-width: 1440px) {
		@content;
	}
}
@mixin for-1366 {
	@media (max-width: 1366px) {
		@content;
	}
}
@mixin for-1199 {
	@media (max-width: 1199px) {
		@content;
	}
}
@mixin for-1024 {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin for-991 {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin for-767 {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin for-576 {
	@media (max-width: 576px) {
		@content;
	}
}

@mixin for-480 {
	@media (max-width: 480px) {
		@content;
	}
}
@mixin for-380 {
	@media (max-width: 380px) {
		@content;
	}
}
@mixin for-320 {
	@media (max-width: 320px) {
		@content;
	}
}
@include for-1700{
    .custom-container{
        max-width: 1300px;
    }
}
@include for-1440{
    .custom-container{
        max-width: 1140px;
    }
}
@include for-1024{
    .custom-container{
        max-width: 960px;
    }
}
@include for-991{
    .custom-container{
        max-width: 720px;
    }
}
@include for-767{
    .custom-container{
        max-width: 540px;
    }
}


// form

form{
	label{
		color: $black-color;
		font-size: $font-16;
		margin-bottom: 8px;
		line-height: 20px;
		span{
			color: #ff0000;
		}
	}
	.register-input{
		position: relative;
		margin-bottom: 30px;
		input{
			border: 1px solid $border-color;
			border-radius: 5px;
			padding: 10px 20px;
			width: 100%;
			height: 50px;
			&:focus{
				outline: none;
			}
			&::placeholder{
				font-size: $font-16;
			}
		}
		input[type="checkbox"]{
			width: 20px;
			height: 20px;
		}
		span{
			position: absolute;
			right: 13px;
			top: 10px;
		}
		textarea{
			border: 1px solid $border-color;
			border-radius: 5px;
			padding: 10px 20px;
			width: 100%;
			&::placeholder{
				font-size: $font-16;
			}
		}
	}
	.radioMark{
		position: relative;
		padding-left: 30px;
		margin-top: 12px !important;
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 20px;
			width: 20px;
			background-color: $white-color;
			border-radius: 50%;
			border: 3px solid $border-color;

		  }
		  input{
			position: absolute;
			opacity: 0;
		  }
		   input:checked ~ .checkmark {
			border: 5px solid $primary-color2;
		  }
	}
}

select{
	width: 100%;
	height: 50px;
	border: 1px solid $border-color;
	padding: 0px 20px;
	border-radius: 5px;
	appearance: none;
	font-size: 16px;
	option{
		font-size: $font-16;
	}
	&:focus{
		outline: none;
	}
}

// modal
.modal-wrap{
	.modal{
		.modal-dialog{
			max-width: 750px;
			.modal-content{
				
			margin: 0 20px;
			}
			.modal-header{
				padding: 60px 15px 0 15px;
				.btn-close{
					background-image: none;
					opacity: 1;
					background-color: $primary-color1;
					height: 35px;
					width: 35px;
					padding: 0;
					position: absolute;
					right: 7px;
					top: 7px;
					svg{
						fill: $white-color;
						width: 15px;
					}	
					&:focus{
						box-shadow: none;
					}
				}
			}
			.modal-body{
				padding: 40px 50px 60px 50px;
			}
		}

	}
}

.full-width-btn{
	.comm-btn{
		background-color: $secondary-color;
		&:before{
			left: -95%;
		}
		&:hover{
			&:before{
				left: 0;
			}
			
		}
	}
}

@include for-576{
	.modal-wrap .modal .modal-dialog .modal-body{
		padding: 40px 20px 60px;
	}
	.modal-wrap .modal .modal-dialog .modal-content{
		margin: 0;
	}
}
.menu-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color:$primary-color1;
	z-index: 9;
	-o-box-shadow: 0px 0px 25px -10px;
	-ms-box-shadow: 0px 0px 25px -10px;
	-moz-box-shadow: 0px 0px 25px -10px;
	-webkit-box-shadow: 0px 0px 25px -10px;
	box-shadow: 0px 0px 15px -15px;
}