footer{
    background-color: $primary-color2;
    padding: 80px 0;
    text-align: center;
    position: relative;
    margin-top: 30px;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        margin-top: 40px;
        li{
            .s-icon{
                display: flex;
                min-width: 50px;
                width: fit-content;
                height: 50px;
                border-radius:50px;
                border: 1px solid $white-color;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                &:before{
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $white-color;
                    transition: .5s;
                    z-index: 2;
                }
                svg{
                    transition: all 0.5s ease-in;
                    position: relative;
                    z-index: 3;
                }
                &:hover{
                    &:before{
                        top: 0;
                    }
                    svg{
                        transform: rotateY(360deg);
                       path{
                            fill: $primary-color2;
                       }
                    }
                }
            }
        }
    }
    .contact-field{
        column-gap: 50px;
        li{
            a{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                column-gap: 20px;
                color: $white-color;
                font-size: $font-18;
                font-weight: 700;
                .s-icon{
                    background-color: $white-color;
                }
            }

        }
    }
    p{
        margin-top: 50px;
        color: $white-color;
        border-top: 1px solid rgba(255,255,255,0.5);
        padding-top: 25px;
        font-size: $font-18;
        a{
            color: $white-color;
            font-weight: 700;
            transition: $transition;
            &:hover{
                color: $primary-color1;
            }
        }
    }
    &:before, &:after{
        content: '';
        background-image: url('../images/footer-shape1.png');
        width: 501px;
        height: 370px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &:after{
        background-image: url('../images/footer-shape2.png');
        right: 0;
        left: auto;
    }
}

@include for-1024{
    footer:before, footer:after{
        width: 340px;
        height: 250px;
    }
}
@include for-576{
    footer{
        &:before, &:after{
            width: 150px;
            height: 110px;
        }
        ul{
            margin-top: 30px;
        }
        padding: 50px 0;
        .footer-logo {
            img{
                max-width: 220px;
            }
        }
        p{
            margin-top: 30px;
        }
    }

}