header{
    background-color: $primary-color1;
    padding: 30px 0;
    .container-fluid{
        padding: 0 100px;
    }
    .menu{
        display: flex;
        column-gap: 60px;
        justify-content: center;
        align-items: center;
        li{
            a{
                font-size: $font-22;
                font-family: $font-family2;
                color: $white-color;
                text-transform: capitalize;
                
            }
        }
    }
    .toggle{
        svg{
            width: 20px;
            fill: $white-color;
        }
    }
}

/* sidebar */
.mobile-header{
    display: flex;
    justify-content: flex-end;
    column-gap: 25px;
}
#sidebar {
	position: fixed;
	display: block;
	height: 100vh;
	top: 0;
	left: -500px;
	width: 280px;
	background-color: $primary-color1;
	overflow: scroll;
	overflow-x: hidden;
	z-index: 99999;
    transition: $transition;
	.sidebar_logo {
        padding: 30px 50px;
	}
	&.open {
		left: 0;
	}
	#cssmenu {
		width: 280px;
		.input-group {
			width: 94% !important;
		}
		ul {
			li {
				border-bottom: 1px solid $text-color;
				position: relative;
				a {
					padding: 10px 20px;
					display: inline-block;
					width: 100%;
					text-transform: capitalize;
                    position: relative;
                    z-index: 10;
                    color: $white-color;
                    font-size: 18px;
				}
				.social-icon {
					display: flex !important;
					justify-content: space-evenly;
					margin-top: 20px;
					li {
						border: none;
						width: 47px;
						height: 46px;
						line-height: 26px;
						border-radius: 50%;
						a {
							display: inline-block;
							padding: 10px 0px;
						}
					}
				}
			}
			.has-sub {
				ul {
					display: none;
					li {
						border-bottom: none;
						a {
							padding: 10px 40px;
						}
					}
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 20px;
					right: 25px;
					background-color: $white-color;
					height: 2px;
					width: 10px;
					transition: $transition;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 16px;
					right: 29px;
					background-color: $white-color;
					height: 10px;
					width: 2px;
					transition: $transition;
				}
			}
			.open {
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(45deg);
				}
			}
		}
	}
    #toggle_close{
        color: $primary-color1;
        width: 20px;
        height: 20px;
        background: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
    }

}

/* responsive */
@include for-1440{
    header {
        padding: 20px 0;
        .container-fluid {
            padding: 0 50px;
        }
        .logo{
            img{
                max-width: 220px;
            }
        }
    .menu {
        column-gap: 40px;
        li {
            a{
                font-size: 18px;
            }
        }
    }
    }
}

@include for-1024{
    header{
        .menu {
            column-gap: 15px;
            li {
                a{
                    font-size: 16px;
                }
            }
        }
    }
}

@include for-480{
    header{
        .container-fluid {
            padding: 0 20px;
        }  
        .logo img {
            max-width: 150px;
        }          
    }
}