


body{
    margin: 0;
    padding: 0;
    font-family: 'Antonio';
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    background: #ffffff;
    color: #111111;
    transition: all 0.5s;
}
p{
    margin: 0;
    padding: 0;
}
ul{
list-style: none;
margin: 0;
padding: 0;
}

.custom-container{
    padding: 0 75px;
}
.custom-container2{
    max-width: 1100px;
}
a{
    text-decoration: none;
}

h1{
    font-size: 120px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    margin: 0;
}
button{
    border: 0;
    &:focus{
        box-shadow: none !important;
    }
    &:focus-visible{
        outline: none;
    }
}

.complete{
    color: rgba(0, 169, 27, 1);
}
.inprogress{
    color: rgba(169, 122, 0, 1);
}
.pending{
    color: rgba(218, 183, 0, 1);
}
.plus-color{
    color: #DAB700;
    font-size: 20px;
}
/*----- common-head -----*/
.main-head{
    position: relative;
    text-align: center;
    &::before{
        content: '';
        display: block;
        position: absolute;
        background-color: #58595B;
        width: 200px;
        height: 2px;
        bottom: -26px;
        left: 50%;
        transform: translateX(-50%);
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        background-color: #FFCD34;
        width: 100px;
        height: 7px;
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%);
    }
    &.main-head-white{
        color: #ffffff;
        &::before{
            background-color: #ffffff;
        }
    }
}
.inner-head{
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        background-color: #58595B;
        width: 100%;
        height: 1px;
        bottom: -26px;
        left: 0;
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        background-color: #FFCD34;
        width: 150px;
        height: 3px;
        bottom: -27px;
        left: 0;
    }
}

/*----- common-btn ------*/
.main-btn{
    background-color: #ffffff;
    min-width: 190px;
    width: fit-content;
    color:#58595B;
    height: 50px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 1;
    overflow: hidden;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 25%;
        height: 101%;
        right: 0px;
        top:0px;
        clip-path: polygon(53% 0, 100% 0%, 100% 99%, 25% 99%);
        background-color:#FFCD34;
        transition: all 0.5s;
        z-index: -1;
    }
    &:hover{
        color: #ffffff;
        &::after{
            clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 100%);
            background-color:#FFCD34;
            width: 100%;
        }
    }
    &.bg-gray-btn{
        background-color: #58595B;
        color: #ffffff;
        &::after{
            height: 102%;
        }
    }
    &.acive-btn{
        background-color: #FFCD34;
    }
}
.register-submit{
    margin-top: 30px;
}
/*--- wave ---*/
.wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .waves {
        position: absolute;
        width: 150px;
        height: 150px;
        background: rgba(214, 214, 214, 0.3);
        opacity: 0;
        border-radius: 100%;
        right: -75px;
        bottom: -75px;
        z-index: -1;
        animation: waves 3s ease-in-out infinite;
      }
      .wave-1 {
        animation-delay: 0s;
      }
      
      .wave-2 {
        animation-delay: 1s;
      }
      
      .wave-3 {
        animation-delay: 2s;
      }
    @keyframes waves {
        0% {
            -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
            opacity: 0;
        }
        50% {
            opacity: 0.9; 
        }
        100% {
            -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
            opacity: 0;
        }
    }
}

/*---- login-modal ----*/
.login-modal{
    .modal{
        .modal-dialog {
            max-width: 750px;
            .modal-content{
                .modal-header{
                    padding-top: 50px;
                    position: relative;
                    h5{
                        padding-top: 50px;
                    }
                    .btn-close{
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #FFCD34;
                        top: 15px;
                        right: 15px;
                        opacity: 1;
                    }
                }
                .modal-body{
                    padding: 50px;
                    form{
                        .form-check{
                            padding: 0;
                        }
                        row-gap: 30px;
                        b{
                            color: #FB4949;
                        }
                        input{
                            width: 100%;
                            height: 50px;
                            background-color: #F9F9F9;
                            border: 1px solid transparent;
                            padding: 10px 15px;
                            position: relative;
                            margin-top: 12px;
                            &:focus, &:focus-visible{
                                border-color: #FFCD34;
                                background-color: #FFFCF1;
                                box-shadow: none !important;
                                outline: none;
                            }
                        }
                        .input-box{
                            position: relative;
                            span{
                                position: absolute;
                                top: 30px;
                                right: 15px;
                            }
                            i{
                                position: absolute;
                                top: 30px;
                                right: 15px;
                            }
                        }
                        .login-btn{
                            background-color: #58595B;
                            width: 100%;
                            color:#ffffff;
                            height: 50px;
                            position: relative;
                            font-size: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 1;
                            &::after{
                                content: '';
                                display: block;
                                position: absolute;
                                width: 40%;
                                height: 100%;
                                right: 0px;
                                top:0px;
                                clip-path: polygon(53% 0, 100% 0%, 100% 99%, 25% 99%);
                                background-color:#FFCD34;
                                transition: all 0.5s;
                                z-index: -1;
                            }
                            &:hover{
                                color: #ffffff;
                                &::after{
                                    clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 100%);
                                    background-color:#FFCD34;
                                    width: 100%;
                                }
                            }
                        }
                        .forget{
                            text-align: end;
                            display: block;
                            color: #111111;
                            margin-top: 5px;
                        }
                        .signup{
                            padding-top: 35px;
                            p{
                                text-align: center;
                                a{
                                    color: #FFCD34;
                                }
                            }
                        }
                    }
                    .thank-popup{
                        text-align: center;
                        h4{
                            padding: 30px 0 20px 0;
                        }
                        p{
                            color: #58595B;
                            padding-bottom: 30px;
                        }
                        .main-btn{
                            background-color: #58595B;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    &.minister-modal{
        .modal{
            .modal-dialog{
                .modal-content{
                    .modal-header{
                        padding: 50px 50px 0px 50px;
                        h5{
                            padding-top: 30px;
                        }
                    }
                    .modal-body{
                        padding: 30px 50px 50px;
                        label{
                            font-size: 20px;
                            color: #000000;
                        }
                        .form-check{
                            h4{
                                line-height: 40px;
                            }
                        }
                        .input-box{
                            ul{
                                display: flex;
                                column-gap: 40px;
                                margin-top: 15px;
                                li{
                                    position: relative;
                                    input{
                                        position: absolute;
                                        width: auto;
                                        height: 0px;
                                    }
                                    label{
                                        color: #58595B;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                        .ok-btn{
                            margin-top: 20px;
                        }
                        .pastrol-btn{
                            display: flex;
                            justify-content: center;
                            column-gap: 30px;
                            padding: 20px 0;
                        }
                        textarea{
                            background-color: #F9F9F9;
                            padding: 13px 20px;
                            border: 0;
                            width: 100%;
                            height: 110px;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &.payment-modal{
        .modal {
            .modal-dialog {
                .modal-content {
                    .modal-header{
                        padding: 50px 50px 0 50px;
                    }
                }
            }
        }
        .partial-wrap{
            .partial-box{
                background-color: #F9F9F9;
                display: flex;
                padding: 15px 25px;
                column-gap: 25px;
                align-items: center;
                border: 1px solid transparent;
                transition: all 0.5s;
                margin-bottom: 25px;
                span{
                    width: 75px;
                    height: 75px;
                    background-color: #FFCD34;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover{
                    background-color: #FFFCF1;
                    border-color: #FFCD34;
                }
                .partial-content{
                    h4{
                        font-size: 20px;
                    }
                    p{
                        color: #58595B;
                        font-size: 14px;
                        padding-top: 5px;
                    }
                }
            }
        }
        .partial-icon{
            width: 150px;
            height: 150px;
            background-color: #ffcd34;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    }
    &.prsnl-modal {
        .modal {
            .modal-dialog{
                max-width: 1110px;
            }
        }
    }
}

.register-none{
    display: none;
    margin-top: 30px;
    input{
        max-width: 580px;
    }
    &.register-show{
        display: block;
    }
}
.main-share{
    position: absolute;
    bottom: 60px;
    right: 30px;
        .click-me{
        background: #FFCD34;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-left: 0;
        position: absolute;
        top: -20px;
        left: -40px;
        color: #58595B;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        transform: translate3d(0, 0, 0);
        transition: transform ease-out 200ms;
        }
        .group-icon{
            position: absolute;
            top: -185px;
            right: -63px;
            opacity: 0;
            visibility: hidden;
            li{
                a{
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    background: #FFCD34;
                    border-radius: 50%;
                    color: #58595B;
                    font-size: 17px;
                    display: inline-block;
                    text-align: center;
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    transition: all 0.5s;
                        &:hover{
                            background: #ffffff;
                            color: #FFCD34;
                        }
                }
            }
            li + li{
                margin-top: 5px;
            }
        }
}
.show-icon{
    .group-icon{
    opacity: 1;
    visibility: visible;
    right: -11px;
    transition: all 0.5s;
    }
}

/*--- form ---*/
form{
    padding: 55px 0 0;
    align-items: end;
    row-gap: 25px;
    label{
        font-size: 16px;
        display: block;
        span{
            color: #FB4949;
        }
    }
    input{
        background-color: #F9F9F9;
        width: 100%;
        height: 50px;
        border: 0;
        padding: 13px 20px;
        &:focus{
            outline: none;
        }
        &.active-input{
            background-color: #FFFCF1;
            border: 1px solid #FFCD34;
        }
    }
    .select-option{
        select{
            width: 100%;
            background-color: #FFFCF1;
            border: 1px solid #FFCD34;
            padding: 13px 20px;
            height: 50px;
            &::placeholder{
                color: #58595B;
            }
            &:focus{
                outline: none;
            }
        }
    }
    .common-select{
        select{
            background-color: #F9F9F9;
            width: 100%;
            border: 0;
            height: 50px;
            padding: 13px 20px;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: #58595B;
            }
        }
    }
}

/*---- checkbox ----*/
.unstyled {
    position: relative;
}
.styled-checkbox {
    position: absolute; 
    opacity: 0; 
    display: inline-block;
    width: fit-content;
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      display: inline-block;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: #FFFCF1;
      border: 1px solid #FFCD34;
    }
    // Box checked
    &:checked + label:before {
      background: #FFCD34;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 11px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
  
/*---- radio ----*/
.radio-wrap{
    display: flex;
    column-gap: 25px;
}
.form__radio-input {
    display: none;
  }
  
  .form__label-radio {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    width: fit-content;
    color: #58595B;
  }
  
  .form__radio-button {
    height: 15px;
    width: 15px;
    border: 1px solid #FFCD34;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 7px;
  }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFCD34;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
    opacity: 1;
  }
  

/*------ responsive ----*/

@mixin for-1730 {
	@media (max-width: 1730px) {
		@content;
	}
}

@mixin for-1700 {
	@media (max-width: 1700px) {
		@content;
	}
}
@mixin for-1600 {
	@media (max-width: 1600px) {
		@content;
	}
}
@mixin for-1440 {
	@media (max-width: 1440px) {
		@content;
	}
}
@mixin for-1366 {
	@media (max-width: 1366px) {
		@content;
	}
}
@mixin for-1240 {
	@media (max-width: 1240px) {
		@content;
	}
}
@mixin for-1199 {
	@media (max-width: 1199px) {
		@content;
	}
}
@mixin for-1024 {
	@media (max-width: 1024px) {
		@content;
        .custom-container {
            padding: 0 30px;
        }
	}
}
@mixin for-991 {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin for-767 {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin for-576 {
	@media (max-width: 576px) {
		@content;
        h2{
            font-size: 30px;
        }
        .main-head{
            &::before{
                width: 175px;
            }
            &::after{
                width: 80px;
            }
        }
	}
}
@mixin for-500 {
	@media (max-width: 500px) {
		@content;
	}
}
@mixin for-480 {
	@media (max-width: 480px) {
		@content;
        .main-btn{
            min-width: 155px;
            &::after{
                width: 22%;
            }
        }
	}
}
@mixin for-380 {
	@media (max-width: 380px) {
		@content;
	}
}
@mixin for-375 {
	@media (max-width: 375px) {
		@content;
	}
}
@mixin for-320 {
	@media (max-width: 320px) {
		@content;
	}
}