.header {
    background-color: #58595B;
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 99;
}

.header .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 20px 0 20px 0;
}

.header .header-menu li a {
    font-size: 20px;
    color: #ffffff;
    transition: all 0.5s;
}

.header .header-menu li:hover a {
    color: #FFCD34;
}

.header .header-icons {
    display: flex;
    justify-content: end;
    column-gap: 30px;
    padding: 12px 0 0 0;
}

.header .header-icons .social-icons {
    column-gap: 15px;
}

.header .header-icons .social-icons li {
    transition: all 0.5s;
}

.header .header-icons .social-icons li a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(255, 205, 52, 0.1);
    color: #ffffff;
    transition: all 0.5s;
}

.header .header-icons .social-icons li:hover a {
    background-color: #FFCD34;
}

.header .header-icons .toggle-login {
    display: flex;
}

.header .header-icons .dropdown-allie {
    position: relative;
}

.header .header-icons .dropdown-allie .profile {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #ffffff;
}

.header .header-icons .dropdown-allie .dropdown-menus {
    position: absolute;
    background-color: #ffffff;
    width: 130px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 10px 0;
    left: 0;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    z-index: 11;
}

.header .header-icons .dropdown-allie .dropdown-menus li a {
    color: #58595B;
    display: block;
    padding: 5px 10px;
    transition: all 0.5s;
}

.header .header-icons .dropdown-allie .dropdown-menus li:hover a {
    background-color: #FFCD34;
    color: #ffffff;
}

.header .header-icons .dropdown-allie:hover .dropdown-menus {
    opacity: 1;
    visibility: visible;
}


/*---- navbar-toggle ----*/


/*side bar toggle start*/

.navbar-toggler {
    width: 2.5rem;
    height: 2rem;
}

.navbar-toggler span {
    display: block;
    position: absolute;
    height: 3px;
    width: 70%;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    left: 25%;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
    top: 34.5%;
}

.navbar-toggler span:nth-child(2),
.navbar-toggler span:nth-child(3) {
    top: 60%;
}

.navbar-toggler span:nth-child(4) {
    top: 85.5%;
}

.navbar-toggler.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.navbar-toggler.open span:nth-child(2) {
    transform: rotate(45deg);
}

.navbar-toggler.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.navbar-toggler.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#sidebar {
    position: fixed;
    height: 100vh;
    display: block;
    background-color: #58595B;
    left: -286px;
    top: 0;
    box-shadow: 0px 0px 10px 0px rgba(77, 77, 77, 0.5);
    z-index: 1000;
}

#sidebar .respnsv-logo {
    padding: 40px;
}

#cssmenu {
    width: 286px;
}

#cssmenu ul li a {
    color: #ffffff;
    padding: 10px 15px;
    border-bottom: 1px solid #ffffff;
    display: block;
}

#cssmenu ul li:hover a {
    color: #FFCD34;
}


/*---- responsive ----*/

@media screen and (max-width: 1199px) {
    .header-logo img {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        height: 72px;
    }
    .header .header-menu {
        column-gap: 20px;
    }
    .header .header-icons {
        column-gap: 12px;
    }
    .header .header-icons .social-icons {
        column-gap: 8px;
    }
}

@media screen and (max-width: 991px) {
    .header-logo img {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .header .header-icons .dropdown-allie {
        padding-top: 10px;
    }
    .header .header-icons .dropdown-allie .profile img {
        width: 25px;
    }
    .header .header-icons .dropdown-allie .profile p {
        display: none;
    }
    .header .header-icons .dropdown-allie .dropdown-menus {
        width: 110px;
        left: -30px;
    }
}

@media screen and (max-width: 480px) {
    .header-logo img {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .header {
        height: 50px;
    }
    .header .header-icons {
        padding: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Antonio';
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    background: #ffffff;
    color: #111111;
    transition: all 0.5s;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-container {
    padding: 0 75px;
}

.custom-container2 {
    max-width: 1100px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 120px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
}

button {
    border: 0;
}

button:focus {
    box-shadow: none !important;
}

button:focus-visible {
    outline: none;
}

.complete {
    color: #00a91b;
}

.inprogress {
    color: #a97a00;
}

.pending {
    color: #dab700;
}

.plus-color {
    color: #DAB700;
    font-size: 20px;
}


/*----- common-head -----*/

.main-head {
    position: relative;
    text-align: center;
}

.main-head::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #58595B;
    width: 200px;
    height: 2px;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
}

.main-head::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #FFCD34;
    width: 100px;
    height: 7px;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
}

.main-head.main-head-white {
    color: #ffffff;
}

.main-head.main-head-white::before {
    background-color: #ffffff;
}

.inner-head {
    position: relative;
}

.inner-head::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #58595B;
    width: 100%;
    height: 1px;
    bottom: -26px;
    left: 0;
}

.inner-head::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #FFCD34;
    width: 150px;
    height: 3px;
    bottom: -27px;
    left: 0;
}


/*----- common-btn ------*/

.main-btn {
    background-color: #ffffff;
    min-width: 190px;
    width: fit-content;
    color: #58595B;
    height: 50px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 1;
    overflow: hidden;
}

.main-btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 25%;
    height: 101%;
    right: 0px;
    top: 0px;
    clip-path: polygon(53% 0, 100% 0%, 100% 99%, 25% 99%);
    background-color: #FFCD34;
    transition: all 0.5s;
    z-index: -1;
}

.main-btn:hover {
    color: #ffffff;
}

.main-btn:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 100%);
    background-color: #FFCD34;
    width: 100%;
}

.main-btn.bg-gray-btn {
    background-color: #58595B;
    color: #ffffff;
}

.main-btn.bg-gray-btn::after {
    height: 102%;
}

.main-btn.acive-btn {
    background-color: #FFCD34;
}

.register-submit {
    margin-top: 30px;
}


/*--- wave ---*/

.wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .waves {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(214, 214, 214, 0.3);
    opacity: 0;
    border-radius: 100%;
    right: -75px;
    bottom: -75px;
    z-index: -1;
    animation: waves 3s ease-in-out infinite;
}

.wrapper .wave-1 {
    animation-delay: 0s;
}

.wrapper .wave-2 {
    animation-delay: 1s;
}

.wrapper .wave-3 {
    animation-delay: 2s;
}

@keyframes waves {
    0% {
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}


/*---- login-modal ----*/

.login-modal .modal .modal-dialog {
    max-width: 750px;
}

.login-modal .modal .modal-dialog .modal-content .modal-header {
    padding-top: 50px;
    position: relative;
}

.login-modal .modal .modal-dialog .modal-content .modal-header h5 {
    padding-top: 50px;
}

.login-modal .modal .modal-dialog .modal-content .modal-header .btn-close {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFCD34;
    top: 15px;
    right: 15px;
    opacity: 1;
}

.login-modal .modal .modal-dialog .modal-content .modal-body {
    padding: 50px;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form {
    row-gap: 30px;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .form-check {
    padding: 0;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form b {
    color: #FB4949;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form input {
    width: 100%;
    height: 50px;
    background-color: #F9F9F9;
    border: 1px solid transparent;
    padding: 10px 15px;
    position: relative;
    margin-top: 12px;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form input:focus,
.login-modal .modal .modal-dialog .modal-content .modal-body form input:focus-visible {
    border-color: #FFCD34;
    background-color: #FFFCF1;
    box-shadow: none !important;
    outline: none;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .input-box {
    position: relative;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .input-box span {
    position: absolute;
    top: 30px;
    right: 15px;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .input-box i {
    position: absolute;
    top: 30px;
    right: 15px;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .login-btn {
    background-color: #58595B;
    width: 100%;
    color: #ffffff;
    height: 50px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .login-btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0px;
    top: 0px;
    clip-path: polygon(53% 0, 100% 0%, 100% 99%, 25% 99%);
    background-color: #FFCD34;
    transition: all 0.5s;
    z-index: -1;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .login-btn:hover {
    color: #ffffff;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .login-btn:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 100%);
    background-color: #FFCD34;
    width: 100%;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .forget {
    text-align: end;
    display: block;
    color: #111111;
    margin-top: 5px;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .signup {
    padding-top: 35px;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .signup p {
    text-align: center;
}

.login-modal .modal .modal-dialog .modal-content .modal-body form .signup p a {
    color: #FFCD34;
}

.login-modal .modal .modal-dialog .modal-content .modal-body .thank-popup {
    text-align: center;
}

.login-modal .modal .modal-dialog .modal-content .modal-body .thank-popup h4 {
    padding: 30px 0 20px 0;
}

.login-modal .modal .modal-dialog .modal-content .modal-body .thank-popup p {
    color: #58595B;
    padding-bottom: 30px;
}

.login-modal .modal .modal-dialog .modal-content .modal-body .thank-popup .main-btn {
    background-color: #58595B;
    color: #ffffff;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-header {
    padding: 50px 50px 0px 50px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-header h5 {
    padding-top: 30px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body {
    padding: 30px 50px 50px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body label {
    font-size: 20px;
    color: #000000;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body .form-check h4 {
    line-height: 40px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body .input-box ul {
    display: flex;
    column-gap: 40px;
    margin-top: 15px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body .input-box ul li {
    position: relative;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body .input-box ul li input {
    position: absolute;
    width: auto;
    height: 0px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body .input-box ul li label {
    color: #58595B;
    font-size: 16px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body .ok-btn {
    margin-top: 20px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body .pastrol-btn {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding: 20px 0;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body textarea {
    background-color: #F9F9F9;
    padding: 13px 20px;
    border: 0;
    width: 100%;
    height: 110px;
}

.login-modal.minister-modal .modal .modal-dialog .modal-content .modal-body textarea:focus {
    outline: none;
}

.login-modal.payment-modal .modal .modal-dialog .modal-content .modal-header {
    padding: 50px 50px 0 50px;
}

.login-modal.payment-modal .partial-wrap .partial-box {
    background-color: #F9F9F9;
    display: flex;
    padding: 15px 25px;
    column-gap: 25px;
    align-items: center;
    border: 1px solid transparent;
    transition: all 0.5s;
    margin-bottom: 25px;
}

.login-modal.payment-modal .partial-wrap .partial-box span {
    width: 75px;
    height: 75px;
    background-color: #FFCD34;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal.payment-modal .partial-wrap .partial-box:hover {
    background-color: #FFFCF1;
    border-color: #FFCD34;
}

.login-modal.payment-modal .partial-wrap .partial-box .partial-content h4 {
    font-size: 20px;
}

.login-modal.payment-modal .partial-wrap .partial-box .partial-content p {
    color: #58595B;
    font-size: 14px;
    padding-top: 5px;
}

.login-modal.payment-modal .partial-icon {
    width: 150px;
    height: 150px;
    background-color: #ffcd34;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login-modal.prsnl-modal .modal .modal-dialog {
    max-width: 1110px;
}

.register-none {
    display: none;
    margin-top: 30px;
}

.register-none input {
    max-width: 580px;
}

.register-none.register-show {
    display: block;
}

.main-share {
    position: absolute;
    bottom: 60px;
    right: 30px;
}

.main-share .click-me {
    background: #FFCD34;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 0;
    position: absolute;
    top: -20px;
    left: -40px;
    color: #58595B;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.main-share .group-icon {
    position: absolute;
    top: -185px;
    right: -63px;
    opacity: 0;
    visibility: hidden;
}

.main-share .group-icon li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #FFCD34;
    border-radius: 50%;
    color: #58595B;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
}

.main-share .group-icon li a:hover {
    background: #ffffff;
    color: #FFCD34;
}

.main-share .group-icon li+li {
    margin-top: 5px;
}

.show-icon .group-icon {
    opacity: 1;
    visibility: visible;
    right: -11px;
    transition: all 0.5s;
}


/*--- form ---*/

form {
    padding: 55px 0 0;
    align-items: end;
    row-gap: 25px;
}

form label {
    font-size: 16px;
    display: block;
}

form label span {
    color: #FB4949;
}

form input {
    background-color: #F9F9F9;
    width: 100%;
    height: 50px;
    border: 0;
    padding: 13px 20px;
}

form input:focus {
    outline: none;
}

form input.active-input {
    background-color: #FFFCF1;
    border: 1px solid #FFCD34;
}

form .select-option select {
    width: 100%;
    background-color: #FFFCF1;
    border: 1px solid #FFCD34;
    padding: 13px 20px;
    height: 50px;
}

form .select-option select::placeholder {
    color: #58595B;
}

form .select-option select:focus {
    outline: none;
}

form .common-select select {
    background-color: #F9F9F9;
    width: 100%;
    border: 0;
    height: 50px;
    padding: 13px 20px;
}

form .common-select select:focus {
    outline: none;
}

form .common-select select::placeholder {
    color: #58595B;
}


/*---- checkbox ----*/

.unstyled {
    position: relative;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
    display: inline-block;
    width: fit-content;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}

.styled-checkbox+label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #FFFCF1;
    border: 1px solid #FFCD34;
}

.styled-checkbox:checked+label:before {
    background: #FFCD34;
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}


/*---- radio ----*/

/*pricing css start*/
.inner-head-2 {
    text-align: center;
    position: relative;
  }
  
  .inner-head-2::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #58595B;
    width: 200px;
    height: 2px;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .inner-head-2::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #FFCD34;
    width: 100px;
    height: 7px;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .price-country-bg {
    background: #FFCD34;
    padding: 30px;
    position: relative;
  }
  
  .select-icon {
    appearance: none;
  }
  
  .price-country-bg span {
    position: absolute;
    top: 62%;
    transform: translateY(-61%);
    right: 55px;
  }
  
  .detail-price-wrap {
    padding-top: 15px;
  }
  
  .detail-price-wrap ul li {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px;
  }
  
  .detail-price-wrap ul li {
    font-family: Antonio;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
  }
  
  .detail-price-wrap ul li p {
    min-width: 500px;
    display: block;
    padding-right: 10px;
  }
  
  .detail-price-wrap ul li span img {
    padding-right: 12px;
  }
  
  .detail-price-wrap ul li p {
    font-family: Antonio;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
  }

.radio-wrap {
    display: flex;
    column-gap: 25px;
}

.form__radio-input {
    display: none;
}

.form__label-radio {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    width: fit-content;
    color: #58595B;
}

.form__radio-button {
    height: 15px;
    width: 15px;
    border: 1px solid #FFCD34;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 7px;
}

.form__radio-button::after {
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFCD34;
    opacity: 0;
    transition: opacity 0.2s;
}

.form__radio-input:checked~.form__label-radio .form__radio-button::after {
    opacity: 1;
}


/*------ responsive ----*/


/*--- banner-start ---*/

.banner-wrapper {
    background-image: url("../images/home-banner-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding: 150px 0 100px 0;
}

.banner-wrapper .banner-head {
    text-align: center;
}

.banner-wrapper .banner-head h1,
.banner-wrapper .banner-head p {
    color: #ffffff;
}

.banner-wrapper .banner-head p {
    font-size: 30px;
    max-width: 975px;
    margin: 0 auto;
    padding: 20px 0;
}

.banner-wrapper .banner-head .date-map {
    display: flex;
    column-gap: 60px;
    justify-content: center;
}

.banner-wrapper .banner-head .date-map li a {
    color: #ffffff;
    font-size: 20px;
}

.banner-wrapper .banner-head .date-map li a i {
    margin-right: 15px;
}

.banner-wrapper .banner-head .date-map li a i path {
    fill: #FFCD34;
}

.banner-wrapper .banner-head #countdown {
    padding: 45px 0;
}

.banner-wrapper .banner-head #countdown ul {
    display: flex;
    justify-content: center;
    column-gap: 120px;
    width: fit-content;
    padding: 14px 35px;
    margin: 0 auto;
    border: 1px solid #ffffff;
}

.banner-wrapper .banner-head #countdown ul li {
    font-size: 30px;
    position: relative;
    color: #ffffff;
}

.banner-wrapper .banner-head #countdown ul li span {
    display: block;
    font-size: 65px;
}

.banner-wrapper .banner-head #countdown ul li::before {
    content: ':';
    display: block;
    position: absolute;
    top: 10px;
    right: -65px;
    font-size: 79px;
}

.banner-wrapper .banner-head #countdown ul li:last-child::before {
    display: none;
}

.banner-wrapper .banner-head .banner-btn ul {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.banner-wrapper .banner-head .banner-btn ul li .main-btn {
    min-width: 230px;
    background-color: #58595B;
    color: #ffffff;
}

@media (max-width: 767px) {
    .banner-wrapper .banner-head h1 {
        font-size: 65px;
    }
    .banner-wrapper .banner-head p {
        font-size: 20px;
    }
    .banner-wrapper .banner-head .date-map {
        column-gap: 20px;
    }
    .banner-wrapper .banner-head #countdown ul {
        column-gap: 50px;
    }
    .banner-wrapper .banner-head #countdown ul li::before {
        right: -40px;
    }
    .detail-price-wrap ul li p {
        min-width: 350px;
    }
}

@media (max-width: 576px) {
    .banner-wrapper .banner-head #countdown ul {
        flex-wrap: wrap;
        padding: 14px 14px;
    }
    .banner-wrapper .banner-head #countdown ul li::before {
        display: none;
    }
    h2 {
        font-size: 30px;
    }
    .main-head::before {
        width: 175px;
    }
    .main-head::after {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .banner-wrapper {
        padding: 70px 0 100px 0;
    }
    .banner-wrapper .banner-head .date-map {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .banner-wrapper .banner-head .banner-btn ul {
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .banner-wrapper .banner-head .banner-btn ul li {
        font-size: 20px;
    }
    .banner-wrapper .banner-head .banner-btn ul li span {
        font-size: 45px;
    }
    .main-btn {
        min-width: 155px;
    }
    .main-btn::after {
        width: 22%;
    }
    .detail-price-wrap ul li p {
        min-width: 100%;
      }
}


/*--- banner-end ---*/


/* video section start */

.video-wrap {
    position: relative;
}

.video-wrap .video-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.video-wrap .video-img img {
    max-height: 100%;
}

.video-wrap .video-img img.disp-img {
    display: none;
}

.video-wrap #myBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-wrap #myBtn.show-text {
    z-index: 100;
}

.video-wrap #myBtn1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-wrap #myBtn1.show-text {
    z-index: 100;
}

.video-wrap #myBtn3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-wrap #myBtn3.show-text {
    z-index: 100;
}

.video-wrap #para {
    position: absolute;
    max-width: 650px;
    left: 245px;
    left: 70px;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
}

.video-wrap #para h2 {
    color: #ffffff;
}

.video-wrap #para h4 {
    color: #ffffff;
    margin: 30px 0;
    line-height: 45px;
}

.video-wrap #para.display-para {
    display: none !important;
}

.video-wrap #para .vdo-btn {
    display: flex;
    column-gap: 25px;
}

.video-wrap .overlay-video {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.178);
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
}

.video-wrap .main-btn {
    background-color: #58595B;
    color: #ffffff;
    margin-top: 20px;
}

@media (max-width: 1199px) {
    .video-wrap #para h2 {
        font-size: 30px;
    }
    .video-wrap #para h4 {
        font-size: 20px;
        line-height: 30px;
        max-width: 435px;
    }
}

@media (max-width: 991px) {
    .video-wrap #para h4 {
        max-width: 370px;
    }
}

@media (max-width: 767px) {
    .video-wrap #para {
        left: 30px;
        top: 30%;
        transform: translateY(-30%);
    }
    .video-wrap #para h2 {
        font-size: 24px;
    }
    .video-wrap #para h4 {
        line-height: 24px;
        max-width: 370px;
        margin: 10px 0;
        font-size: 16px;
    }
    .video-wrap #para .main-btn {
        font-size: 16px;
        min-width: 150px;
    }
    .video-wrap #para .main-btn::after {
        width: 22%;
    }
    .video-wrap #para .vdo-btn {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .video-wrap .video-player img {
        width: 65px;
    }
    .video-wrap #para {
        top: 18%;
        transform: translateY(-18%);
    }
    h2 {
        font-size: 30px;
    }
    .main-head::before {
        width: 175px;
    }
    .main-head::after {
        width: 80px;
    }
}


/* video section end */

.attend-wrapper {
    padding: 80px 0 100px;
}

.attend-wrapper .attend-slider {
    position: relative;
    padding-top: 65px;
}

.attend-wrapper .attend-slider label {
    padding-left: 33%;
    font-weight: bold;
}

.attend-wrapper .attend-slider select {
    margin-left: 12px;
    display: inline-block !important;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 50px 40px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transition: all 0.5s;
    min-height: 320px;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap .attend-img span {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    background-color: #58595B;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 15px solid #F5F5F5;
    transition: all 0.5s;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap .attend-img span svg {
    fill: #ffffff;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap .attend-content h4 a {
    color: #111111;
    transition: all 0.5s;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap .attend-content h4 a:hover {
    color: #FFCD34;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap .attend-content p {
    color: #58595B;
    padding-top: 15px;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap:hover {
    border-color: #FFCD34;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap:hover .attend-img span {
    outline-color: #FFCD34;
    background-color: #ffffff;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap:hover .attend-img span svg {
    fill: #FFCD34;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item.center .attend-box-wrap {
    border-color: #FFCD34;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item.center .attend-box-wrap .attend-img span {
    outline-color: #FFCD34;
    background-color: #ffffff;
}

.attend-wrapper .attend-slider .owl-carousel .owl-item.center .attend-box-wrap .attend-img span svg {
    fill: #FFCD34;
}

.attend-wrapper .attend-slider .owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.attend-wrapper .attend-slider .owl-carousel .owl-nav .owl-prev,
.attend-wrapper .attend-slider .owl-carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    display: flex;
    background: #FFCD34;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.attend-wrapper .attend-slider .owl-carousel .owl-nav .owl-prev i,
.attend-wrapper .attend-slider .owl-carousel .owl-nav .owl-next i {
    font-size: 15px;
}

.attend-wrapper .attend-slider .owl-carousel .owl-nav .owl-prev:hover i,
.attend-wrapper .attend-slider .owl-carousel .owl-nav .owl-next:hover i {
    color: #ffffff;
}

@media (max-width: 1199px) {
    .attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media (max-width: 576px) {
    .banner-wrapper .banner-head h1 {
        font-size: 40px;
    }
    .banner-wrapper .banner-head p {
        font-size: 16px;
    }
    .banner-wrapper .banner-head .date-map li a {
        font-size: 18px;
    }
    .attend-wrapper {
        padding: 50px 0 30px 0;
    }
    .attend-wrapper .attend-slider .owl-carousel .owl-nav {
        position: unset;
        justify-content: center;
        left: 50%;
        transform: translate(0, -50%);
        margin-top: 50px;
    }
    .attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap .attend-content h4 {
        font-size: 20px;
    }
    .attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap .attend-img span {
        width: 100px;
        height: 100px;
        outline: 5px solid #F5F5F5;
    }
    .attend-wrapper .attend-slider .owl-carousel .owl-item .attend-box-wrap .attend-img span svg {
        width: 40px;
    }
    h2 {
        font-size: 30px;
    }
    .main-head::before {
        width: 175px;
    }
    .main-head::after {
        width: 80px;
    }
    .attend-wrapper .attend-slider select {
        margin-left: 0 !important;
        width: 100% !important;
    }
    .attend-wrapper .attend-slider label {
        padding-left: 0% !important;
    }
}


/*--- attend-end ---*/


/*--- counter-start ---*/

.counter-wrapper {
    background-color: #FFCD34;
    padding: 70px 0;
}

.counter-wrapper .row {
    row-gap: 15px;
}

.counter-wrapper .counter-box {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.counter-wrapper .counter-box .counter-icon span {
    background-color: #ffffff;
    border: 3px solid #58595B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.counter-wrapper .counter-box .counter-content .counter-count {
    position: relative;
}

.counter-wrapper .counter-box .counter-content .counter-count::before {
    content: '+';
    display: block;
    position: absolute;
    right: 25px;
    top: 0;
}

.counter-wrapper .counter-box .counter-content p {
    font-size: 20px;
    color: #58595B;
}

@media (max-width: 1024px) {
    .counter-wrapper .counter-box {
        flex-wrap: wrap;
    }
    .custom-container {
        padding: 0 30px;
    }
}


/*--- counter-end ---*/


/*--- speaker-start ---*/

.speaker-wrapper {
    background-color: #F9F9F9;
    padding: 100px 0;
}

.speaker-wrapper .row {
    row-gap: 20px;
}

.speaker-wrapper .speaker-head {
    padding: 50px 0;
}

.speaker-wrapper .speaker-head .main-head {
    text-align: left;
}

.speaker-wrapper .speaker-head .main-head::before {
    left: 0;
    transform: translateX(0);
}

.speaker-wrapper .speaker-head .main-head::after {
    left: 0;
    transform: translateX(0);
}

.speaker-wrapper .speaker-head p {
    padding: 45px 0 30px 0;
}

.speaker-wrapper .speaker-head .main-btn {
    background-color: #58595B;
    color: #ffffff;
}

.speaker-wrapper .speaker-slider .owl-carousel .item .speaker-box .speaker-img {
    overflow: hidden;
    position: relative;
}

.speaker-wrapper .speaker-slider .owl-carousel .item .speaker-box .speaker-img img {
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.speaker-wrapper .speaker-slider .owl-carousel .item .speaker-box .speaker-content {
    padding-top: 25px;
}

.speaker-wrapper .speaker-slider .owl-carousel .item .speaker-box .speaker-content h2 {
    -webkit-text-stroke: 1px #111111;
    color: transparent;
}

.speaker-wrapper .speaker-slider .owl-carousel .item .speaker-box .speaker-content {
    display: flex;
    column-gap: 12px;
}

.speaker-wrapper .speaker-slider .owl-carousel .item .speaker-box .speaker-content span {
    color: #58595B;
}

.speaker-wrapper .speaker-slider .owl-carousel .item .speaker-box:hover .speaker-img img {
    transform: scale(1.1);
}

.speaker-wrapper .speaker-slider .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    left: -52%;
    bottom: 56px;
}

.speaker-wrapper .speaker-slider .owl-carousel .owl-nav .owl-prev,
.speaker-wrapper .speaker-slider .owl-carousel .owl-nav .owl-next {
    border: 1px solid #58595B;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
}

.speaker-wrapper .speaker-slider .owl-carousel .owl-nav .owl-prev:hover,
.speaker-wrapper .speaker-slider .owl-carousel .owl-nav .owl-next:hover {
    background-color: #FFCD34;
    border-color: #FFCD34;
}

@media (max-width: 1440px) {
    .speaker-wrapper .speaker-slider .owl-carousel .owl-nav {
        bottom: -10px;
    }
}

@media (max-width: 1366px) {
    .speaker-wrapper .speaker-slider .owl-carousel .owl-nav {
        bottom: -50px;
    }
}

@media (max-width: 1199px) {
    .speaker-wrapper .speaker-slider .owl-carousel .owl-nav {
        bottom: -80px;
    }
}

@media (max-width: 1024px) {
    .speaker-wrapper .speaker-head {
        padding: 0;
    }
    .custom-container {
        padding: 0 30px;
    }
}

@media (max-width: 991px) {
    .speaker-wrapper .speaker-slider .owl-carousel .owl-nav {
        position: unset;
    }
}

@media (max-width: 576px) {
    .speaker-wrapper {
        padding: 50px 0;
    }
    h2 {
        font-size: 30px;
    }
    .main-head::before {
        width: 175px;
    }
    .main-head::after {
        width: 80px;
    }
}


/*--- speaker-end ---*/


/*--- testimonial-start ---*/

.testimonial-wrapper {
    padding: 0 0 100px 0;
}

.testimonial-wrapper .testimonial-slider {
    padding-top: 65px;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-stage-outer {
    padding-top: 40px;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item .item .testimonial-box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
    padding: 85px 15px 50px 15px;
    text-align: center;
    transition: all 0.5s;
    position: relative;
    min-height: 340px;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item .item .testimonial-box .testimonial-icon {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item .item .testimonial-box .testimonial-icon span {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #58595B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item .item .testimonial-box .testimonial-icon span svg {
    fill: #58595B;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item .item .testimonial-box:hover {
    background-color: #FFCD34;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item .item .testimonial-box:hover .testimonial-icon span {
    border-color: #ffffff;
    background-color: #ffcd34;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item .item .testimonial-box:hover .testimonial-icon span svg {
    fill: #111111;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item .item .testimonial-box p {
    max-width: 470px;
    margin: 0 auto;
    padding-bottom: 35px;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item.center .item .testimonial-box {
    background-color: #FFCD34;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item.center .item .testimonial-box .testimonial-icon span {
    border-color: #ffffff;
    background-color: #ffcd34;
}

.testimonial-wrapper .testimonial-slider .owl-carousel .owl-item.center .item .testimonial-box .testimonial-icon span svg {
    fill: #111111;
}

@media (max-width: 576px) {
    .testimonial-wrapper {
        padding: 50px 0;
    }
    h2 {
        font-size: 30px;
    }
    .main-head::before {
        width: 175px;
    }
    .main-head::after {
        width: 80px;
    }
}


/*--- testimonial-end ---*/


/*--- gpro-start ---*/

.gpro-wrapper {
    position: relative;
    padding-bottom: 245px;
}

.gpro-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../images/bg-gpro.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.gpro-wrapper .main-head-white {
    padding-top: 100px;
}

.gpro-wrapper .gpro-vdo {
    position: relative;
    margin: 70px 0 0 0;
    text-align: center;
    border-radius: 40px;
    overflow: hidden;
    border-radius: 70px;
}

.gpro-wrapper .gpro-vdo video {
    border-radius: 40px;
}

.gpro-wrapper .gpro-vdo .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gpro-wrapper .gpro-vdo .cover {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 50px;
}

.gpro-wrapper .gpro-vdo .cover video {
    opacity: 0;
    width: 100%;
    transition: 1s;
    position: absolute;
    z-index: -1;
    left: 0;
    height: 100%;
}

@media (max-width: 991px) {
    .gpro-wrapper {
        padding-bottom: 312px;
    }
    .gpro-wrapper::before {
        height: 436px;
    }
}


/*--- gpro-end ---*/

.requirement {
    position: relative;
}

.requirement .requirement-wrapper {
    background-color: #ffcd34;
    border-radius: 30px;
    padding: 70px;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 1;
}

.requirement .requirement-wrapper .requirement-left {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.requirement .requirement-wrapper .requirement-left span {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.requirement .requirement-wrapper .requirement-left p {
    color: #58595B;
    max-width: 535px;
    padding-top: 15px;
}

.requirement .requirement-wrapper .requirement-right .main-btn {
    background-color: #58595B;
    color: #FFCD34;
}

.requirement .requirement-wrapper .requirement-right .main-btn::after {
    background-color: #ffffff;
}

@media (max-width: 991px) {
    .requirement .requirement-wrapper {
        flex-wrap: wrap;
        row-gap: 15px;
        padding: 35px 20px;
    }
}

@media (max-width: 767px) {
    .requirement .requirement-wrapper .requirement-left h3 {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .gpro-wrapper .main-head-white {
        padding-top: 50px;
    }
    .requirement .requirement-wrapper {
        padding: 20px 15px;
    }
    .requirement .requirement-wrapper .requirement-left {
        column-gap: 20px;
        row-gap: 15px;
    }
    .requirement .requirement-wrapper .requirement-left h3 {
        font-size: 20px;
    }
    .requirement .requirement-wrapper .requirement-left p {
        font-size: 14px;
    }
    h2 {
        font-size: 30px;
    }
    .main-head::before {
        width: 175px;
    }
    .main-head::after {
        width: 80px;
    }
}


/*---- inner-page ----*/

.inner-banner-wrapper {
    background-image: url("../images/bg-inner-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    padding: 100px 0;
}


/*--- step-form ---*/

.step-form-wrap ul {
    display: flex;
    justify-content: center;
    column-gap: 180px;
}

.step-form-wrap ul li {
    min-width: 60px;
    text-align: center;
}

.step-form-wrap ul li a {
    color: #ffffff;
    font-size: 14px;
    position: relative;
}

.step-form-wrap ul li a.active span {
    background-color: #FFCD34;
    color: #58595B;
}

.step-form-wrap ul li a.active span::after {
    height: 7px;
    background-color: #FFCD34;
}

.step-form-wrap ul li a span {
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 8px;
    position: relative;
}

.step-form-wrap ul li a span::after {
    content: '';
    display: block;
    background-color: #ffffff;
    position: absolute;
    width: 220px;
    height: 2px;
    left: 48px;
}

.step-form-wrap ul li:last-child a span::after {
    display: none;
}

.step-form {
    background-color: #ffffff;
    padding: 50px;
    margin-top: 60px;
    border-radius: 5px;
    /*---- tab -----*/
}

.step-form .step-next {
    margin-top: 25px;
}

.step-form .step-next .main-btn {
    background-color: #58595B;
    color: #ffffff;
}

.step-form .step-next .main-btn::after {
    right: -1px;
}

.step-form .step-next .main-btn:hover::after {
    width: 101%;
}

.step-form .unstyled {
    padding-top: 25px;
}

.step-form .section-gap {
    padding-top: 50px;
}

.step-form .application-wrap {
    background-color: #FFCD34;
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    row-gap: 15px;
}

.step-form .application-wrap .application-content {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.step-form .application-wrap .edit-btn .main-btn svg {
    stroke: #ffffff;
    margin-right: 8px;
}

.step-form .application-wrap .edit-btn .main-btn::after {
    background-color: #ffffff;
}

.step-form .application-wrap .edit-btn .main-btn:hover {
    color: #FFCD34;
}

.step-form .application-wrap .edit-btn .main-btn:hover svg {
    stroke: #FFCD34;
}

.step-form .detail-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    column-gap: 20px;
}

.step-form .detail-wrap ul li {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px;
}

.step-form .detail-wrap ul li p {
    min-width: 135px;
    display: block;
    padding-right: 10px;
}

.step-form .detail-wrap ul li span {
    font-weight: 700;
}

.step-form .detail-wrap ul li:last-child {
    margin-bottom: 0;
}

.step-form .detail-wrap.minister-gap {
    padding-top: 20px;
}

.step-form .preview-form {
    padding-top: 25px;
}

.step-form .register-next {
    margin-top: 50px;
}

.step-form .tabs-wrapper .nav-pills {
    background-color: #FFCD34;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
}

.step-form .tabs-wrapper .nav-pills .nav-item .nav-link {
    min-width: 240px;
    border-radius: 0px;
    color: #111111;
    font-weight: 700;
}

.step-form .tabs-wrapper .nav-pills .nav-item .nav-link svg {
    margin-right: 10px;
}

.step-form .tabs-wrapper .nav-pills .nav-item .nav-link.active {
    background-color: #ffffff;
    color: #111111;
}

.step-form .payment-order-wrap {
    position: relative;
}

.step-form .payment-order-wrap .payment-order-box {
    background-color: #FFCD34;
    padding: 15px 30px;
}

.step-form .payment-order-wrap .payment-order-box ul {
    display: flex;
    column-gap: 80px;
    row-gap: 15px;
}

.step-form .payment-order-wrap .payment-order-box ul li p {
    color: #58595B;
    font-size: 14px;
    padding-bottom: 5px;
}

.step-form .payment-order-wrap .fess-wrap {
    position: absolute;
    top: -25px;
    right: -25px;
}

.step-form .payment-order-wrap .fess-wrap span {
    width: 120px;
    height: 120px;
    background-color: #58595B;
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-form .payment-order-wrap .fess-wrap span p,
.step-form .payment-order-wrap .fess-wrap span h4 {
    color: #ffffff;
}

.step-form .tab-content {
    padding-top: 30px;
}

.step-form .tab-content .method-wrap {
    padding-top: 40px;
}

.step-form .tab-content .method-wrap h4 {
    display: inline-block;
    margin-right: 10px;
}

.step-form .tab-content .method-wrap .card-box {
    display: flex;
    column-gap: 20px;
    align-items: center;
    background-color: #FFFCF1;
    border: 1px solid #FFCD34;
    padding: 15px 20px;
    margin-top: 20px;
    position: relative;
}

.step-form .tab-content .method-wrap .card-box .right-pay {
    position: absolute;
    right: 12px;
    top: 0px;
    display: none;
}

.step-form .tab-content .method-wrap .card-box .card-icon span {
    width: 75px;
    height: 75px;
    background-color: #FFCD34;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-form .tab-content .method-wrap .card-box .credit-content h6 {
    font-weight: 700;
}

.step-form .tab-content .method-wrap .card-box .credit-content p {
    font-size: 14px;
    color: #58595B;
    padding-top: 4px;
}

.step-form .tab-content .method-wrap .card-box.dropdown-box {
    background-color: #F9F9F9;
    border-color: transparent;
}

.step-form .tab-content .method-wrap .card-box .right-block {
    display: block !important;
}

.step-form .tab-content .method-wrap .offline-accordion {
    margin-top: 20px;
}

.step-form .tab-content .method-wrap .offline-accordion .accordion-item {
    border: 0;
    border-radius: 0;
    background-color: #F9F9F9;
}

.step-form .tab-content .method-wrap .offline-accordion .accordion-item .accordion-header {
    position: relative;
}

.step-form .tab-content .method-wrap .offline-accordion .accordion-item .accordion-header .accordion-button {
    background-color: #F9F9F9;
    font-weight: 700;
    position: relative;
}

.step-form .tab-content .method-wrap .offline-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    color: #000000;
    box-shadow: none;
}

.step-form .tab-content .method-wrap .offline-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg);
    top: -6px;
}

.step-form .tab-content .method-wrap .offline-accordion .accordion-item .accordion-header .accordion-button::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50px;
    display: block;
    position: absolute;
    right: 15px;
    top: 36px;
}

.step-form .tab-content .method-wrap .offline-accordion .accordion-item .accordion-header .accordion-button::after {
    content: '';
    background-image: none;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    color: #111111;
    font-size: 14px;
    transform: rotate(0);
    position: relative;
}

.step-form .tab-content .method-wrap .offline-accordion .card-icon {
    margin-right: 20px;
}

.step-form .tab-content .method-wrap .offline-accordion .card-icon span {
    width: 75px;
    height: 75px;
    background-color: #FFCD34;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-form .tab-content .method-wrap .offline-accordion .credit-content h6 {
    font-weight: 700;
}

.step-form .tab-content .method-wrap .offline-accordion .credit-content p {
    font-size: 14px;
    color: #58595B;
    padding-top: 4px;
}

.step-form .tab-content .method-wrap .payment-accordion {
    margin-top: 20px;
}

.step-form .tab-content .method-wrap .payment-accordion .accordion-item {
    border: 0;
    border-radius: 0;
}

.step-form .tab-content .method-wrap .payment-accordion .accordion-item .accordion-header {
    position: relative;
}

.step-form .tab-content .method-wrap .payment-accordion .accordion-item .accordion-header .accordion-button {
    border: 0;
    border-radius: 0;
    background-color: #FFCD34;
    position: relative;
}

.step-form .tab-content .method-wrap .payment-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    color: #000000;
}

.step-form .tab-content .method-wrap .payment-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg);
    top: -6px;
}

.step-form .tab-content .method-wrap .payment-accordion .accordion-item .accordion-header .accordion-button::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50px;
    display: block;
    position: absolute;
    right: 15px;
    top: 8px;
}

.step-form .tab-content .method-wrap .payment-accordion .accordion-item .accordion-header .accordion-button::after {
    content: '';
    background-image: none;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    color: #111111;
    font-size: 14px;
    transform: rotate(0);
    position: relative;
}

.step-form .information-wrapper {
    margin-top: 20px;
}

.step-form .information-wrapper .info {
    display: flex;
    align-items: center;
}

.step-form .information-wrapper .info .information-box {
    background-color: #FFFCF1;
    border: 1px solid #FFCD34;
    padding: 18px 25px;
    width: 100%;
    min-height: 115px;
}

.step-form .information-wrapper .info .information-box p {
    color: #58595B;
    padding-top: 10px;
    font-size: 14px;
}

.step-form .hotel-info h5 {
    padding-top: 30px;
}

.step-form .hotel-info h4 {
    padding-top: 30px;
}

.step-form .arrival h5 {
    padding: 30px 0 20px 0;
}

.step-form .arrival p {
    color: #ef0000;
}

.step-form .arrival .note {
    padding-top: 20px;
}

.step-form form .radio-wrap {
    padding-top: 15px;
}

.group-main {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin: 40px 0px 50px;
}

.yes-table {
    display: none;
}

.yes-table.table-show {
    display: block;
}

.yes-table .group-register-box .fieldsGroup .tbContainer {
    background-color: #FFCD34;
    padding: 14px;
    margin-bottom: 20px;
}

.yes-table .group-register-box .fieldsGroup .tbContainer form {
    align-items: center;
}

.yes-table .group-register-box .fieldsGroup .add-remove-btn {
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
}

.yes-table .group-register-box .fieldsGroup .add-remove-btn .add-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: #04B700;
}

.yes-table .group-register-box .fieldsGroup .add-remove-btn .add-btn span {
    background-color: rgba(4, 183, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.yes-table .group-register-box .fieldsGroup .add-remove-btn .add-btn.remove-btn {
    color: #EF0000;
}

.yes-table .group-register-box .fieldsGroup .add-remove-btn .add-btn.remove-btn span {
    background-color: rgba(239, 0, 0, 0.1);
}

.yes-table .table-btn {
    display: flex;
    column-gap: 30px;
    margin-top: 30px;
}

.room-detail .room-head {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    row-gap: 5px;
}

.comment-form {
    display: none;
}

.comment-form.comment-show {
    display: block;
}

.comment-form .radio-wrap {
    margin-top: 15px;
}

.spouse-form {
    display: none;
}

.spouse-form.spouse-show {
    display: block;
}

.room-form {
    display: none;
}

.room-form.room-show {
    display: block;
}

.room-form .radio-wrap {
    margin-top: 15px;
}

.group-table table {
    border-color: #E9E9E9;
}

.group-table table thead {
    background-color: #FFCD34;
}

.group-table table thead tr th {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
}

.group-table table tbody .row-hide {
    display: none;
}

.group-table table tbody .row-hide.row-show {
    display: block;
}

.group-table table tbody .row-hide2 {
    display: none;
}

.group-table table tbody .row-hide2.row-show2 {
    display: block;
}

.group-table table td {
    padding: 10px 15px;
}

@media (max-width: 767px) {
    .step-form .detail-wrap {
        flex-direction: column;
        row-gap: 25px;
    }
    .step-form .detail-wrap ul li p {
        min-width: 180px;
    }
    .step-form .payment-order-wrap .payment-order-box {
        padding: 15px 15px;
    }
    .step-form .payment-order-wrap .payment-order-box ul {
        column-gap: 25px;
    }
    .step-preview-wrap ul {
        column-gap: 70px;
    }
    .step-preview-wrap ul li a span::after {
        width: 100px;
        column-gap: 10px;
        justify-content: inherit;
    }
}

@media (max-width: 576px) {
    .step-form {
        padding: 50px 20px;
    }
    .step-form .payment-order-wrap .payment-order-box ul {
        column-gap: 40px;
        flex-wrap: wrap;
    }
    .step-form .payment-order-wrap .fess-wrap {
        position: absolute;
        top: 10px;
        right: 6px;
    }
    .step-form-wrap ul {
        column-gap: 80px;
    }
    .step-form-wrap ul li a span {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .step-form-wrap ul li a span::after {
        width: 150px;
        left: 37px;
    }
    .step-form-wrap ul li a.active span::after {
        height: 5px;
    }
    .step-form-wrap.step-preview-wrap ul {
        column-gap: 40px;
    }
    .step-form-wrap.step-preview-wrap ul li a span::after {
        width: 65px;
    }
    h2 {
        font-size: 30px;
    }
    .main-head::before {
        width: 175px;
    }
    .main-head::after {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .step-form-wrap ul {
        column-gap: 30px;
    }
    .step-form-wrap ul li a span::after {
        width: 95px;
    }
    .step-form-wrap.step-preview-wrap ul {
        column-gap: 20px;
    }
    .step-form-wrap.step-preview-wrap ul li a span::after {
        width: 50px;
    }
    .step-form .payment-order-wrap .payment-order-box ul {
        column-gap: 55px;
    }
    .main-btn {
        min-width: 155px;
    }
    .main-btn::after {
        width: 22%;
    }
}

@media (max-width: 380px) {
    .step-form .payment-order-wrap .payment-order-box ul {
        flex-direction: column;
    }
    .group-main {
        flex-wrap: wrap;
        row-gap: 15px;
    }
}

footer {
    background-image: url("../images/bg-footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    padding-top: 150px;
}

footer .row {
    row-gap: 20px;
}

footer .footer-logo {
    text-align: center;
}

footer .footer-menu ul {
    display: flex;
    justify-content: center;
    column-gap: 28px;
    padding: 50px 10px;
}

footer .footer-menu ul li a {
    color: #111111;
    font-size: 20px;
    transition: all 0.5s;
}

footer .footer-menu ul li:hover a {
    color: #FFCD34;
}

footer .footer-box {
    border: 1px solid #111111;
    border-radius: 30px;
    padding: 30px 15px;
    text-align: center;
    height: 100%;
}

footer .footer-box h4 {
    padding-bottom: 25px;
}

footer .footer-box p {
    max-width: 255px;
    margin: 0 auto;
    color: #58595B;
}

footer .footer-box .footer-social {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

footer .footer-box .footer-social li {
    transition: all 0.5s;
}

footer .footer-box .footer-social li a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCD34;
    border: 1px solid #FFCD34;
    border-radius: 50%;
    color: #111111;
    transition: all 0.5s;
}

footer .footer-box .footer-social li:hover a {
    background-color: #ffffff;
}

footer .bottom-footer {
    border-top: 1px solid rgba(17, 17, 17, 0.2);
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px;
}

footer .bottom-footer p {
    font-size: 18px;
}

footer .bottom-footer p a {
    color: #111111;
}

@media (max-width: 480px) {
    footer .footer-menu ul {
        column-gap: 15px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    footer .footer-menu ul li a {
        font-size: 16px;
    }
    .main-btn {
        min-width: 155px;
    }
    .main-btn::after {
        width: 22%;
    }
}


.group-table table td.plus-color {
    cursor: pointer;
  }
  
  .group-table table td.plus-color .min {
    display: none;
  }
  
  .group-table table td.plus-color.minus .min {
    display: block;
  }
  
  .group-table table td.plus-color.minus .add {
    display: none;
  }