/*--- banner-start ---*/
.banner-wrapper {
    background-image: url('../images/bg-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding: 150px 0 100px 0;

    .banner-head {
        text-align: center;

        h1,
        p {
            color: #ffffff;
        }

        p {
            font-size: 30px;
            max-width: 975px;
            margin: 0 auto;
            padding: 20px 0;
        }

        .date-map {
            display: flex;
            column-gap: 60px;
            justify-content: center;

            li {
                a {
                    color: #ffffff;
                    font-size: 20px;

                    i {
                        margin-right: 15px;

                        path {
                            fill: #FFCD34;
                        }
                    }
                }
            }
        }

        // timer
        #countdown {
            padding: 45px 0;

            ul {
                display: flex;
                justify-content: center;
                column-gap: 120px;
                width: fit-content;
                padding: 14px 35px;
                margin: 0 auto;
                border: 1px solid #ffffff;

                li {
                    font-size: 30px;
                    position: relative;
                    color: #ffffff;

                    span {
                        display: block;
                        font-size: 65px;
                    }

                    &::before {
                        content: ':';
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: -65px;
                        font-size: 79px;
                    }

                    &:last-child {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        .banner-btn {
            ul {
                display: flex;
                justify-content: center;
                column-gap: 25px;

                li {
                    .main-btn {
                        min-width: 230px;
                        background-color: #58595B;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

@include for-767(){
    .banner-wrapper {
        .banner-head {
            h1{
                font-size: 65px;
            }
            p{
                font-size: 20px;
            }
            .date-map{
                column-gap: 20px;
            }
            #countdown ul{
                column-gap: 50px;
                li{
                    &::before{
                        right: -40px;
                    }
                }
            }
        }
    }
}
@include for-576(){
    .banner-wrapper {
        .banner-head {
            #countdown {
                ul{
                    flex-wrap: wrap;
                    padding: 14px 14px;
                    li{
                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@include for-480(){
    .banner-wrapper {
        padding: 70px 0 100px 0;
        .banner-head {
            .date-map{
                flex-wrap: wrap;
                row-gap: 10px;
            }
            .banner-btn {
                ul{
                    flex-wrap: wrap;
                    row-gap: 15px;
                    li{
                        font-size: 20px;
                        span{
                            font-size: 45px;
                        }
                    }
                }
            }
        }
    }
}
/*--- banner-end ---*/

/* video section start */
.video-wrap{
    position: relative;
    video{
        // max-height: 750px;
    }
    .video-img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        img{
           max-height: 100%;
            &.disp-img{
                display: none;
            }
        }
    }
    #myBtn{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &.show-text{
            z-index: 100;
        }
    }
    #myBtn1{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &.show-text{
            z-index: 100;
        }
    }
    #myBtn3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &.show-text{
            z-index: 100;
        }
    }
    #para{
        position: absolute;
        display: none;
        max-width: 650px;
        left: 245px;
        left: 70px;
        z-index: 99;
        top: 50%;
        transform: translateY(-50%);
        h2{
            color: #ffffff;
        }
        h4{
            color: #ffffff;
            margin: 30px 0;
            line-height: 45px;
        }
        &.display-para{
            display: none !important;
        }
        .vdo-btn{
            display: flex;
            column-gap: 25px;
        }
    }
    .overlay-video{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.178);
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
    }
    .main-btn{
        background-color: #58595B;
        color:#ffffff;
        margin-top: 20px;
    }
}
#mobVideo{
    height: 100vh;
}

@include for-1199(){
    .video-wrap {
        #para {
            h2{
                font-size: 30px;
            }
            h4{
                font-size: 20px;
                line-height: 30px;
                max-width: 435px;
            }
        }
    } 
}
@include for-991(){
    .video-wrap #para h4{
        max-width: 370px;
    }
}
@include for-767(){
    .video-wrap #para{
        left: 30px;
        top: 30%;
        transform: translateY(-30%);
        h2{
            font-size: 24px;
        }
        h4{
            line-height: 24px;
            max-width: 370px;
            margin: 10px 0;
            font-size: 16px;
        }
        .main-btn{
            font-size: 16px;
            min-width: 150px;
            &::after{
                width: 22%;
            }
        }
        .vdo-btn{
            flex-direction: column;
        }
    }
}
@include for-576(){
    .video-wrap {
        .video-player {
            img{
                width: 65px;
            }
        }
    }
    .video-wrap #para{
        top: 18%;
        transform: translateY(-18%);
    }
}
/* video section end */

/*--- attend-start ---*/
.attend-wrapper {
    padding: 100px 0;

    .attend-slider {
        position: relative;
        padding-top: 65px;

        .owl-carousel {
            .owl-item {
                .attend-box-wrap {
                    background-color: #ffffff;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
                    border-radius: 5px;
                    border: 1px solid transparent;
                    padding: 50px 40px;
                    display: flex;
                    align-items: center;
                    column-gap: 30px;
                    transition: all 0.5s;

                    .attend-img {
                        span {
                            width: 142px;
                            height: 142px;
                            border-radius: 50%;
                            background-color: #58595B;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            outline: 15px solid #F5F5F5;
                            transition: all 0.5s;

                            svg {
                                fill: #ffffff;
                            }
                        }
                    }

                    .attend-content {
                        h4 {
                            a {
                                color: #111111;
                                transition: all 0.5s;

                                &:hover {
                                    color: #FFCD34;
                                }
                            }
                        }

                        p {
                            color: #58595B;
                            padding-top: 15px;
                        }
                    }

                    &:hover {
                        border-color: #FFCD34;

                        .attend-img {
                            span {
                                outline-color: #FFCD34;
                                background-color: #ffffff;

                                svg {
                                    fill: #FFCD34;
                                }
                            }
                        }
                    }
                }

                &.center {
                    .attend-box-wrap {
                        border-color: #FFCD34;

                        .attend-img {
                            span {
                                outline-color: #FFCD34;
                                background-color: #ffffff;

                                svg {
                                    fill: #FFCD34;
                                }
                            }
                        }
                    }
                }
            }

            .owl-nav {
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);

                .owl-prev,
                .owl-next {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    background: #FFCD34;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;

                    i {
                        font-size: 15px;
                    }

                    &:hover {
                        i {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

@include for-1199(){
    .attend-wrapper {
        .attend-slider {
            .owl-carousel {
                .owl-item {
                    .attend-box-wrap{
                        flex-wrap: wrap;
                        row-gap: 20px;
                    }
                }
            }
        }
    }
}
@include for-576(){
    .banner-wrapper {
        .banner-head {
            h1{
                font-size: 40px;
            }
            p{
                font-size: 16px;
            }
            .date-map {
                li {
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .attend-wrapper {
        padding: 50px 0 30px 0;
        .attend-slider {
            .owl-carousel {
                .owl-nav{
                    position: unset;
                    justify-content: center;
                    left: 50%;
                    transform: translate(0, -50%);
                    margin-top: 50px;
                }
                .owl-item {
                    .attend-box-wrap {
                        .attend-content {
                            h4{
                                font-size: 20px;
                            }
                        }
                        .attend-img {
                            span{
                                width: 100px;
                                height: 100px;
                                outline: 5px solid #F5F5F5;
                                svg{
                                    width: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*--- attend-end ---*/

/*--- counter-start ---*/
.counter-wrapper {
    background-color: #FFCD34;
    padding: 70px 0;
    .row{
        row-gap: 15px;
    }
    .counter-box {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: center;

        .counter-icon {
            span {
                background-color: #ffffff;
                border: 3px solid #58595B;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
            }
        }

        .counter-content {
            .counter-count {
                position: relative;

                &::before {
                    content: '+';
                    display: block;
                    position: absolute;
                    right: 25px;
                    top: 0;
                }
            }

            p {
                font-size: 20px;
                color: #58595B;
            }
        }
    }
}

@include for-1024(){
    .counter-wrapper {
        .counter-box{
            flex-wrap: wrap;
        }
    }
}

/*--- counter-end ---*/

/*--- speaker-start ---*/
.speaker-wrapper {
    background-color: #F9F9F9;
    padding: 100px 0;
    .row{
        row-gap: 20px;
    }
    .speaker-head {
        padding: 50px 0;

        .main-head {
            text-align: left;

            &::before {
                left: 0;
                transform: translateX(0);
            }

            &::after {
                left: 0;
                transform: translateX(0);
            }
        }

        p {
            padding: 45px 0 30px 0;
        }

        .main-btn {
            background-color: #58595B;
            color: #ffffff;
        }
    }

    .speaker-slider {
        .owl-carousel {
            .item {
                .speaker-box {
                    .speaker-img {
                        overflow: hidden;
                        position: relative;
                        img {
                            border-radius: 10px;
                            transform: scale(1);
                            transition: all 0.3s ease-in-out;
                        }

                    }

                    .speaker-content {
                        padding-top: 25px;
                        h2{
                            -webkit-text-stroke: 1px #111111;
                            color: transparent;
                        }
                    }

                    .speaker-content {
                        display: flex;
                        column-gap: 12px;

                        span {
                            color: #58595B;
                        }
                    }
                    &:hover{
                        .speaker-img{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            .owl-nav {
                display: block;
                position: absolute;
                left: -52%;
                bottom: 56px;

                .owl-prev,
                .owl-next {
                    border: 1px solid #58595B;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: #FFCD34;
                        border-color: #FFCD34;
                    }
                }
            }
        }
    }
}

@include for-1440(){
    .speaker-wrapper {
        .speaker-slider {
            .owl-carousel {
                .owl-nav{
                    bottom: -10px;
                }
            }
        }
    }
}
@include for-1366(){
    .speaker-wrapper {
        .speaker-slider {
            .owl-carousel {
                .owl-nav{
                    bottom: -50px;
                }
            }
        }
    }
}
@include for-1199(){
    .speaker-wrapper {
        .speaker-slider {
            .owl-carousel {
                .owl-nav{
                    bottom: -80px;
                }
            }
        }
    }
}
@include for-1024(){
    .speaker-wrapper {
        .speaker-head{
            padding: 0;
        }
    }
}
@include for-991(){
    .speaker-wrapper .speaker-slider .owl-carousel .owl-nav{
        position: unset;
    }
}
@include for-576(){
    .speaker-wrapper{
        padding: 50px 0;
    }
}

/*--- speaker-end ---*/

/*--- testimonial-start ---*/
.testimonial-wrapper {
    padding: 100px 0;

    .testimonial-slider {
        padding-top: 65px;

        .owl-carousel {
            .owl-stage-outer {
                padding-top: 40px;
            }

            .owl-item {
                .item {
                    .testimonial-box {
                        background-color: #ffffff;
                        border-radius: 5px;
                        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
                        padding: 85px 15px 50px 15px;
                        text-align: center;
                        transition: all 0.5s;
                        position: relative;

                        .testimonial-icon {
                            position: absolute;
                            top: -35px;
                            left: 50%;
                            transform: translateX(-50%);

                            span {
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                border: 1px solid #58595B;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                svg {
                                    fill: #58595B;
                                }
                            }
                        }

                        &:hover {
                            background-color: #FFCD34;

                            .testimonial-icon {
                                span {
                                    border-color: #ffffff;
                                    background-color: #ffcd34;

                                    svg {
                                        fill: #111111;
                                    }
                                }
                            }
                        }

                        p {
                            max-width: 470px;
                            margin: 0 auto;
                            padding-bottom: 35px;
                        }
                    }
                }

                &.center {
                    .item {
                        .testimonial-box {
                            background-color: #FFCD34;

                            .testimonial-icon {
                                span {
                                    border-color: #ffffff;
                                    background-color: #ffcd34;

                                    svg {
                                        fill: #111111;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include for-576(){
    .testimonial-wrapper{
        padding: 50px 0;
    }
}
/*--- testimonial-end ---*/

/*--- gpro-start ---*/
.gpro-wrapper {
    position: relative;
    padding-bottom: 245px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url('../images/bg-gpro.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
    }

    .main-head-white {
        padding-top: 100px;
    }

    .gpro-vdo {
        position: relative;
        margin: 70px 0 0 0;
        text-align: center;
        border-radius: 40px;
        overflow: hidden;
        video{
            border-radius: 40px;
        }
        .play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .cover {
            // background-image: url('../images/gpro-img.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            padding-bottom: 50%;
            margin-bottom: 50px;
            video {
                opacity: 0;
                width: 100%;
                transition: 1s;
                position: absolute;
                z-index: -1;
                left: 0;
                height: 100%;
            }
        }
    }
}

@include for-991(){
    .gpro-wrapper{
        padding-bottom: 312px;
        &::before{
            height: 436px;
        }
    }
}

/*--- gpro-end ---*/
.requirement {
    position: relative;

    .requirement-wrapper {
        background-color: #ffcd34;
        border-radius: 30px;
        padding: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 40px;
        width: 100%;
        z-index: 1;

        .requirement-left {
            display: flex;
            align-items: center;
            column-gap: 20px;

            span {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid #ffffff;
                border-radius: 50%;
            }

            p {
                color: #58595B;
                max-width: 535px;
                padding-top: 15px;
            }
        }

        .requirement-right {
            .main-btn {
                background-color: #58595B;
                color: #FFCD34;

                &::after {
                    background-color: #ffffff;
                }
            }
        }
    }
}
@include for-991(){
    .requirement {
        .requirement-wrapper{
            flex-wrap: wrap;
            row-gap: 15px;
            padding: 35px 20px;
        }
    }
}
@include for-767(){
    .requirement {
        .requirement-wrapper {
            .requirement-left{
                h3{
                    font-size: 28px;
                }
            }
        }
    }
}
@include for-576(){
    .gpro-wrapper {
        .main-head-white{
            padding-top: 50px;
        }
    }
    .requirement {
        .requirement-wrapper{
            padding: 20px 15px;
            .requirement-left{
                column-gap: 20px;
                flex-wrap: wrap;
                row-gap: 15px;
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

/*---- inner-page ----*/
.inner-banner-wrapper{
    background-image: url('../images/bg-inner-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    padding: 100px 0;
}
/*--- step-form ---*/
.step-form-wrap{
    ul{
        display: flex;
        justify-content: center;
        column-gap: 180px;
        li{
            min-width: 60px;
            text-align: center;
            a{
                color: #ffffff;
                font-size: 14px;
                position: relative;
                &.active{
                    span{
                        background-color: #FFCD34;
                        color: #58595B;
                        &::after{
                            height: 7px;
                            background-color: #FFCD34;
                        }
                    }
                }
                span{
                    width: 50px;
                    height: 50px;
                    border: 2px solid #ffffff;
                    background-color: #ffffff;
                    color: #000000;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin: 0 auto 8px;
                    position: relative;
                    &::after{
                        content: '';
                        display: block;
                        background-color: #ffffff;
                        position: absolute;
                        width: 220px;
                        height: 2px;
                        left: 48px;
                    }
                }
            }
            &:last-child{
                a{
                    span{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.step-form{
    background-color: #ffffff;
    padding: 50px;
    margin-top: 60px;
    border-radius: 5px;
    .step-next{
        margin-top: 25px;
        .main-btn{
            background-color: #58595B;
            color: #ffffff;
            &::after{
                right: -1px;
            }
            &:hover{
                &::after{
                    width: 101%;
                }
            }
        }
    }
    .unstyled{
        padding-top: 25px;
    }
    .section-gap{
        padding-top: 50px;
    }
    .application-wrap{
        background-color: #FFCD34;
        display: flex;
        justify-content: space-between;
        padding: 12px 25px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        row-gap: 15px;
        .application-content{
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
        .edit-btn{
            .main-btn{
                svg{
                    stroke: #ffffff;
                    margin-right: 8px;
                }
                &::after{
                    background-color: #ffffff;
                }
                &:hover{
                    color: #FFCD34;
                    svg{
                        stroke: #FFCD34;
                    }
                }
            }
        }
    }
    .detail-wrap{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        column-gap: 20px;
        ul{
            li{
                display: flex;
                flex-wrap: wrap;
                row-gap: 10px;
                margin-bottom: 20px;
                p{
                    min-width: 135px;
                    display: block;
                    padding-right: 10px;
                }
                span{
                    font-weight: 700;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &.minister-gap{
            padding-top: 20px;
        }
    }
    .preview-form{
        padding-top: 25px;
    }
    .register-next{
        margin-top: 50px;
    }
    /*---- tab -----*/
    .tabs-wrapper{
        .nav-pills{
            background-color: #FFCD34;
            max-width: 500px;
            margin: 0 auto;
            padding: 5px;
            .nav-item{
                .nav-link{
                    min-width: 240px;
                    border-radius: 0px;
                    color: #111111;
                    font-weight: 700;
                    svg{
                        margin-right: 10px;
                    }
                    &.active{
                        background-color: #ffffff;
                        color: #111111;
                    }
                }
            }
        }
    }
    .payment-order-wrap{
        position: relative;
        .payment-order-box{
            background-color: #FFCD34;
            padding: 15px 30px;
            ul{
                display: flex;
                column-gap: 80px;
                row-gap: 15px;
                li{
                    p{
                        color: #58595B;
                        font-size: 14px;
                        padding-bottom: 5px;
                    }
                }
            }
        }
        .fess-wrap{
            position: absolute;
            top: -25px;
            right: -25px;
            span{
                width: 120px;
                height: 120px;
                background-color: #58595B;
                border: 3px solid #ffffff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p, h4{
                    color: #ffffff;
                }
            }
        }
    }
    .tab-content{
        padding-top: 30px;
        .method-wrap{
            padding-top: 40px;
            h4{
                display: inline-block;
                margin-right: 10px;
            }
            .card-box{
                display: flex;
                column-gap: 20px;
                align-items: center;
                background-color: #FFFCF1;
                border: 1px solid #FFCD34;
                padding: 15px 20px;
                margin-top: 20px;
                position: relative;
                .right-pay{
                    position: absolute;
                    right: 12px;
                    top: 0px;
                    display: none;
                }
                .card-icon{
                    span{
                        width: 75px;
                        height: 75px;
                        background-color: #FFCD34;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .credit-content{
                    h6{
                        font-weight: 700;
                    }
                    p{
                        font-size: 14px;
                        color: #58595B;
                        padding-top: 4px;
                    }
                }
                &.dropdown-box{
                    background-color: #F9F9F9;
                    border-color: transparent;
                }
                .right-block{
                    display: block !important;
                }
            }
            .offline-accordion{
                margin-top: 20px;
                .accordion-item{
                    border: 0;
                    border-radius: 0;
                    background-color: #F9F9F9;
                    .accordion-header{
                        position: relative;
                        .accordion-button{
                            background-color: #F9F9F9;
                            font-weight: 700;
                            position: relative;
                            &:not(.collapsed){
                                color: #000000;
                                box-shadow: none;
                                &::after{
                                    transform: rotate(-180deg);
                                    top: -6px;
                                }
                            }
                            &::before{
                                content: '';
                                width: 30px;
                                height: 30px;
                                background-color: #ffffff;
                                border-radius: 50px;
                                display: block;
                                position: absolute;
                                right: 15px;
                                top: 36px;
                            }
                            &::after{
                                content: '';
                                background-image: none;
                                content: "\f078";
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                text-align: center;
                                color: #111111;
                                font-size: 14px;
                                transform: rotate(0);
                                position: relative;
                            }
                        }
                    }
                }
                .card-icon{
                    margin-right: 20px;
                    span{
                        width: 75px;
                        height: 75px;
                        background-color: #FFCD34;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .credit-content{
                    h6{
                        font-weight: 700;
                    }
                    p{
                        font-size: 14px;
                        color: #58595B;
                        padding-top: 4px;
                    }
                }
            }
            .payment-accordion{
                margin-top: 20px;
                .accordion-item{
                    border: 0;
                    border-radius: 0;
                    .accordion-header{
                        position: relative;
                        .accordion-button{
                            border: 0;
                            border-radius: 0;
                            background-color: #FFCD34;
                            position: relative;
                            &:not(.collapsed){
                                color: #000000;
                                &::after{
                                    transform: rotate(-180deg);
                                    top: -6px;
                                }
                            }
                            &::before{
                                content: '';
                                width: 30px;
                                height: 30px;
                                background-color: #ffffff;
                                border-radius: 50px;
                                display: block;
                                position: absolute;
                                right: 15px;
                                top: 8px;
                            }
                            &::after{
                                content: '';
                                background-image: none;
                                content: "\f078";
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                text-align: center;
                                color: #111111;
                                font-size: 14px;
                                transform: rotate(0);
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
    .information-wrapper{
        margin-top: 20px;
        .info{
            display: flex;
            align-items: center;
            .information-box{
                background-color: #FFFCF1;
                border: 1px solid #FFCD34;
                padding: 18px 25px;
                width: 100%;
                min-height: 115px;
                p{
                    color: #58595B;
                    padding-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }
    .hotel-info{
        h5{
            padding-top: 30px;
        }
        h4{
            padding-top: 30px;
        }
    }
    .arrival{
        h5{
            padding: 30px 0 20px 0;
        }
        p{
            color: rgba(239, 0, 0, 1);
        }
        .note{
            padding-top: 20px;
        }
    }
    form{
        .radio-wrap{
            padding-top: 15px;
        }
    }
}
.group-main{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin: 40px 0px 50px;
}
.yes-table{
    display: none;
    &.table-show{
        display: block;
    }
    .group-register-box{
        .fieldsGroup{
            .tbContainer{
                background-color: #FFCD34;
                padding: 30px;
                margin-bottom: 20px;
                form{
                    align-items: center;
                }
            }
            // .hidden{
            //     display: none;
            //     &.remove{
            //         display: block;
            //     }
            // }
            .add-remove-btn{
                display: flex;
                justify-content: flex-end;
                column-gap: 30px;
                .add-btn{
                    display: flex;
                    align-items: center;
                    column-gap: 8px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #04B700;
                    span{
                        background-color: rgba(4,183,0,0.1);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    &.remove-btn{
                        color: #EF0000;
                        span{
                            background-color: rgba(239,0,0,0.1);
                        }
                    }
                }
            }
        }
    }
    .table-btn{
        display: flex;
        column-gap: 30px;
        margin-top: 30px;
    }
}
.room-detail {
    .room-head{
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding-bottom: 30px;
        flex-wrap: wrap;
        row-gap: 5px;
    }
}
.comment-form{
    display: none;
    &.comment-show{
        display: block;
    }
    .radio-wrap{
        margin-top: 15px;
    }
}
.spouse-form{
    display: none;
    &.spouse-show{
        display: block;
    }
}
.room-form{
    display: none;
    &.room-show{
        display: block;
    }
    .radio-wrap{
        margin-top: 15px;
    }
}
.group-table{
    table{
        border-color: #E9E9E9;
        thead{
            background-color: #FFCD34;
            tr{
                th{
                    font-size: 20px;
                    font-weight: 700;
                    padding: 10px 15px;
                }
            }
        }
        tbody{
            .row-hide{
                display: none;
                &.row-show{
                    display: block;
                }
            }
            .row-hide2{
                display: none;
                &.row-show2{
                    display: block;
                }
            }
        }
        td{
            padding: 10px 15px;
        }
    }
}

@include for-767(){
    .step-form {
        .detail-wrap{
            flex-direction: column;
            row-gap: 25px;
            ul{
                li{
                    p{
                        min-width: 180px;
                    }
                }
            }
        }
        .payment-order-wrap {
            .payment-order-box {
                padding: 15px 15px;
                ul{
                    column-gap: 25px;
                }
            }
        }
    }
    .step-preview-wrap {
        ul{
            column-gap: 70px;
            li{
                a{
                    span{
                        &::after{
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}

@include for-576(){
    .step-form{
        padding: 50px 20px;
        .payment-order-wrap {
            .payment-order-box {
                ul{
                    column-gap: 40px;
                    flex-wrap: wrap;
                }
            }
            .fess-wrap {
                position: absolute;
                top: 10px;
                right: 6px;
            }
        }
    }
    .step-form-wrap {
        ul{
            column-gap: 80px;
            li {
                a {
                    span{
                        width: 40px;
                        height: 40px;
                        font-size: 14px;
                        &::after{
                            width: 150px;
                            left: 37px;
                        }
                    }
                    &.active{
                        span{
                            &::after{
                                height: 5px;
                            }
                        }
                    }
                }
            }
        }
        &.step-preview-wrap{
            ul{
                column-gap: 40px;
                li{
                    a{
                        span{
                            &::after{
                                width: 65px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include for-480{
    .step-form-wrap {
        ul{
            column-gap: 30px;
            li{
                a{
                    span{
                        &::after{
                            width: 95px;
                        }
                    }
                }
            }
        }
        &.step-preview-wrap{
            ul{
                column-gap: 20px;
                li{
                    a{
                        span{
                            &::after{
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
    .step-form {
        .payment-order-wrap {
            .payment-order-box {
                ul{
                    column-gap: 55px;
                }
            }
        }
    }
}
@include for-380{
    .step-form {
        .payment-order-wrap {
            .payment-order-box {
                ul{
                    flex-direction: column;
                }
            }
        }
    }
    .group-main{
        flex-wrap: wrap;
        row-gap: 15px;
    }
}