<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPro</title>

    <!-- css-files -->
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!---header section start-->
    <div class="header">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class=" col-6 col-sm-6 col-md-6 col-lg-2 col-xl-3">
                    <a href="index.html" class="header-logo">
                        <img src="images/logo.png">
                    </a>
                </div>
                <div class="col-lg-6 col-xl-5 d-lg-block d-xl-block d-none">
                    <ul class="header-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a data-bs-toggle="modal" href="#exampleModalToggle2">Register</a></li>
                        <li><a href="javascript:;">Contact-Us</a></li>
                    </ul>
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="header-icons">
                        <ul class="d-xl-flex d-lg-flex d-none social-icons">
                            <li><a href="javascript:;" class="icon-img"><i
                                        class="fa-brands fa-facebook-f icon-size"></i></a></li>
                            <li><a href="javascript:;" class="icon-img"><i
                                        class="fa-brands fa-twitter icon-size"></i></a></li>
                            <li><a href="javascript:;" class="icon-img"><i
                                        class="fa-brands fa-instagram icon-size"></i></a></li>
                        </ul>
                        <ul class="toggle-login">
                            <li class="dropdown-allie">
                                <a href="javascript:;" class="profile">
                                    <div>
                                        <img src="images/allie-grater.png" alt="img">
                                    </div>
                                    <div>
                                        <p>Allie Grater <span><i class="fas fa-chevron-down"></i></span></p>
                                    </div>
                                </a>
                                <ul class="dropdown-menus">
                                    <li><a href="javacsript:;">My-Profile</a></li>
                                    <li><a href="javacsript:;">Log-out</a></li>
                                </ul>
                            </li>
                            <li class="d-xl-none d-lg-none d-block">
                                <div class="position-relative">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        <!--just add these span here-->
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <!--/end span-->
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar-css -->
    <div id="sidebar">
        <div class="respnsv-logo">
            <img src="images/logo.png" alt="logo">
        </div>
        <div id="cssmenu">
            <ul>
                <li><a href="javascript:;">Home</a></li>
                <li><a href="javascript:;">Register</a></li>
                <li><a href="javascript:;">Contact-Us</a></li>
            </ul>
        </div>
    </div>
    <!--header section end-->

    <!-- banner-start -->
    <div class="inner-banner-wrapper">
        <div class="container custom-container2">
            <div class="step-form-wrap">
                <ul>
                    <li>
                        <a href="personal-info.html" class="active">
                            <span>01</span>Personal Details
                        </a>
                    </li>
                    <li>
                        <a href="contact-detail.html">
                            <span>02</span>Contact Details
                        </a>
                    </li>
                    <li>
                        <a href="ministry-detail.html">
                            <span>03</span>Ministry Details
                        </a>
                    </li>
                </ul>
            </div>
            <div class="step-form">
                <h4 class="inner-head">Personal Details</h4>
                <form class="row">
                    <div class="col-lg-2">
                        <div class="select-option">
                            <label for="name">Full name (as in passport) <span>*</span></label>
                            <select id="name" placeholder="Mr." class="mt-2">
                                <option value="">Mr.</option>
                                <option value="">Mrs.</option>
                                <option value="">Miss.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" placeholder="Type your First or Given name" class="mt-2">
                    </div>
                    <div class="col-lg-5">
                        <input type="text" placeholder="Type your Last or Family name" class="mt-2">
                    </div>
                    <div class="col-lg-6">
                        <label for="">Gender <span>*</span></label>
                        <div class="common-select">
                            <select id="name" placeholder="- Select -" class="mt-2">
                                <option value="">- Select -</option>
                                <option value="">Male</option>
                                <option value="">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="">Date of Birth <span>*</span></label>
                        <input type="date" placeholder="DD/ MM/ YYYY" class="mt-2">
                    </div>
                    <div class="col-lg-6">
                        <label for="citizen">Citizenship <span>*</span></label>
                        <div class="common-select">
                            <select id="citizen" placeholder="- Select -" class="mt-2">
                                <option value="">Start typing your citizenship</option>
                                <option value="">India</option>
                                <option value="">India</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="status">Marital status <span>*</span></label>
                        <div class="common-select">
                            <select id="status" placeholder="- Select -" class="mt-2">
                                <option>- Select -</option>
                                <option data-bs-toggle="modal" data-bs-target="#exampleModalToggle4">Married</option>
                                <option data-bs-toggle="modal" data-bs-target="#exampleModalToggle5">Unmarried</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="step-next">
                            <a href="contact-detail.html" class="main-btn">Next</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- banner-end -->

    <!-- footer-start -->
    <footer class="footer-inner">
        <div class="container">
            <div class="footer-logo">
                <a href="javascript:;">
                    <img src="images/footer-logo.png" alt="logo">
                </a>
            </div>
            <div class="footer-menu">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a  href="#exampleModalToggle2"   data-bs-toggle="modal">Register</a>
                    </li>
                    <li>
                        <a href="javascript:;">Contact Us</a>
                    </li>
                    <li>
                        <a href="javascript:;">Terms of Use</a>
                    </li>
                    <li>
                        <a href="javascript:;">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-box">
                        <h4>Contact US</h4>
                        <p>2108 Selah Way Brattleboro, VT 05301
                            (1)802-706-3878</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-box">
                        <h4>Social Handles</h4>
                        <ul class="footer-social">
                            <li>
                                <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <p>Copyright © 2022 <a href="javascript:;">GPRO Congress</a>. All rights Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- footer-end -->


    <!-- login-wrap -->
    <div class="login-modal">
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-block border-0 text-center">
                        <h2 class="main-head">Welcome You !</h2>
                        <h5>Log in to submit your application</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">E-mail <b>*</b> </label>
                                    <div class="input-box">
                                        <input type="email" placeholder="Enter Here">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">Password <b>*</b> </label>
                                    <div class="input-box">
                                        <input type="password" placeholder="Enter Here">
                                        <i class="toggle-password fas fa-eye-slash eye-wrap"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div>
                                    <a href="group-login.html" class="login-btn">Login</a>
                                    <a href="javascript:;" class="forget">Forgot Password?</a>
                                </div>
                                <div class="signup">
                                    <p>Don’t Have an Account? <a href="javascript:;"
                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                            data-bs-dismiss="modal">Click Here to Sign Up</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-block border-0 text-center">
                        <h2 class="main-head">Sign Up</h2>
                        <h5>Log in to submit your application</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">E-mail <b>*</b> </label>
                                    <div class="input-box">
                                        <input type="email" placeholder="Enter Here">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">Password <b>*</b> </label>
                                    <div class="input-box">
                                        <input type="password" placeholder="Enter Here">
                                        <i class="toggle-password fas fa-eye-slash eye-wrap"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">Confirm Password <b>*</b> </label>
                                    <div class="input-box">
                                        <input type="password" placeholder="Enter Here">
                                        <i class="toggle-password fas fa-eye-slash eye-wrap"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div>
                                    <a href="javascript:;" class="login-btn" data-bs-target="#exampleModalToggle3"
                                        data-bs-toggle="modal" data-bs-dismiss="modal">Sign Up</a>
                                    <a href="javascript:;" class="forget">Forgot Password?</a>
                                </div>
                                <div class="signup">
                                    <p>Don’t Have an Account? <a href="javascript:;"
                                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                                            data-bs-dismiss="modal">Click Here to Log In</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-block border-0 text-center">
                        <h2 class="main-head">Welcome You !</h2>
                        <h5>Log in to submit your application</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="thank-popup">
                            <img src="images/right.png" alt="img">
                            <h4>Thank You</h4>
                            <p>You are successfully sign up</p>
                            <div class="d-flex justify-content-center">
                                <a href="javascript:;" class="main-btn" data-bs-dismiss="modal">ok</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-modal minister-modal prsnl-modal">
        <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block border-0 text-center">
                    <h4> Are you coming along with your spouse to the Congress?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row p-0">
                        <div class="col-lg-12">
                            <div class="group-main">
                                <a href="javascript:;" class="main-btn bg-gray-btn yes-btn">Yes</a>
                                <a href="javascript:;" class="main-btn bg-gray-btn no-btn">No</a>
                            </div>
                        </div>
                    </form>
                    <div class="comment-form">
                            <label for="">Spouse already registered with GProCongress II? </label>
                            <div class="radio-wrap">
                                <div class="form__radio-group">
                                    <input type="radio" name="size" id="yes" class="form__radio-input">
                                    <label class="form__label-radio register-yes" for="yes" class="form__radio-label">
                                        <span class="form__radio-button"></span> Yes
                                    </label>
                                </div>
                                <div class="form__radio-group">
                                    <input type="radio" name="size" id="no" class="form__radio-input">
                                    <label class="form__label-radio register-no" for="no" class="form__radio-label">
                                        <span class="form__radio-button"></span> No
                                    </label>
                                </div>
                            </div>
                            <div class="register-none">
                                <form class="p-0">
                                <label for="">Registered Email Address</label>
                                <input type="text" placeholder="Type Email Address" class="mt-2">
                            </form>
                            </div>
                            <div class="spouse-form">
                                <form class="row">
                                    <div class="col-lg-2">
                                        <div class="select-option">
                                            <label for="name">Full name (as in passport) <span>*</span></label>
                                            <select id="name" placeholder="Mr." class="mt-2">
                                                <option value="">Mr.</option>
                                                <option value="">Mrs.</option>
                                                <option value="">Miss.</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" placeholder="Type your First or Given name" class="mt-2">
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" placeholder="Type your Last or Family name" class="mt-2">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Email Address <span>*</span> </label>
                                        <input type="text" placeholder="Type your First or Given name" class="mt-2">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Gender <span>*</span></label>
                                        <div class="common-select">
                                            <select id="name" placeholder="- Select -" class="mt-2">
                                                <option value="">- Select -</option>
                                                <option value="">Male</option>
                                                <option value="">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Date of Birth <span>*</span></label>
                                        <input type="date" placeholder="DD/ MM/ YYYY" class="mt-2">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="citizen">Citizenship <span>*</span></label>
                                        <div class="common-select">
                                            <select id="citizen" placeholder="- Select -" class="mt-2">
                                                <option value="">Start typing your citizenship</option>
                                                <option value="">India</option>
                                                <option value="">India</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        <div class="col-lg-12">
                            <div class="step-next register-submit">
                                <a href="javascript:;" class="main-btn bg-gray-btn" data-bs-dismiss="modal">Submit</a>
                            </div>
                        </div>
                    </div>
                    <div class="room-form">
                        <label for="">Would you like to stay in Twin sharing room or Single Room -</label>
                        <div class="radio-wrap">
                            <div class="form__radio-group">
                                <input type="radio" name="size" id="single-room" class="form__radio-input">
                                <label class="form__label-radio" for="single-room" class="form__radio-label">
                                    <span class="form__radio-button"></span> Single Room
                                </label>
                            </div>
                            <div class="form__radio-group">
                                <input type="radio" name="size" id="twin-share" class="form__radio-input">
                                <label class="form__label-radio" for="twin-share" class="form__radio-label">
                                    <span class="form__radio-button"></span> Twin Sharing
                                </label>
                            </div>
                        </div>
                    <div class="col-lg-12">
                        <div class="step-next register-submit">
                            <a href="javascript:;" class="main-btn bg-gray-btn" data-bs-dismiss="modal">Submit</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <!-- js-files -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>


<script> 
    $(document).ready(function(){
      $(".click-me").click(function(){
        $(this).parent().toggleClass("show-icon");
      });
    });
</script>

<script>
    $('#status').change(function(){
  //this is just getting the value that is selected
  var title = $(this).val();
  // $('.modal-title').html(title);
  $('#exampleModalToggle4').modal('show');
});
</script>

<script>
        $(document).ready(function () {
        $(".yes-btn").click(function () {
            $(this).addClass("acive-btn");
            $(".no-btn").removeClass("acive-btn");
        });
    });
    $(document).ready(function () {
        $(".no-btn").click(function () {
            $(this).addClass("acive-btn");
            $(".yes-btn").removeClass("acive-btn");
        });
    });
    $(document).ready(function(){
        $(".yes-btn").click(function(){
            $(".comment-form").addClass("comment-show");
            $(".room-form").removeClass("room-show");
        });
    });
    $(document).ready(function(){
        $(".no-btn").click(function(){
            $(".comment-form").removeClass("comment-show");
            $(".room-form").addClass("room-show");
        });
    });
    $(document).ready(function(){
        $(".register-yes").click(function(){
            $(".register-none").addClass("register-show");
            $(".spouse-form").removeClass("spouse-show");
        });
    });
    $(document).ready(function(){
        $(".register-no").click(function(){
            $(".register-none").removeClass("register-show");
            $(".spouse-form").addClass("spouse-show");
        });
    });
</script>

</body>

</html>